@charset "UTF-8";

/* 가이드 */
.content-guide {max-width:37.5rem; padding: 2rem; margin:0 auto;}

/* -- 공통 -- */
.tooltip-inline {display: inline-flex; align-items: center; vertical-align: middle; position: unset;}
.tooltip-inline .tooltip .btn-open {position: sticky;}
.tooltip-inline .tooltip .tooltip-con {top: 2.8rem;}
.tooltip-inline .tooltip .tooltip-con {width: calc(100vw - 4.8rem);}

/* 검색 스크롤 관련 플로팅 */
body.scroll--up .search-con-box,
body.scroll--down .search-con-box {width: 100%; padding: 0 2rem 2.4rem; position: fixed; top: 0; left:0; z-index: 25; background: #fff; box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.05);}
body.scroll--down .app-header.is-active {border-bottom: 0;}
body.scroll--top .search-con-box,
body.scroll--top.scroll--up .search-con-box {width: 100%; padding: 0 2rem 3.2rem; position: unset; top: unset; left: unset; z-index: 0;}
body.scroll--down .search-con-box + .con-box,
body.scroll--up .search-con-box + .con-box {padding-top: 14.3rem;}
body.scroll--top .search-con-box + .con-box {padding-top: 5.6rem;} 

/* 스크롤 */
.scroll-wrap {position: relative;}
.scroll-wrap::before {content: ''; width: 100%; height: 0.8rem; display: inline-block; border-top: 0.1rem solid #dddee4; background: #f7fafa; position: absolute; top: 0; left: 0; z-index: 1;}
.scroll-area {margin-bottom: -5.6rem; padding: 0.8rem 0 5.6rem; overflow-y: auto;}
.scroll-area.scroll_top-con-box {height: calc(100vh - 10.2rem);}
.scroll-area .con-box {padding-top: 4.8rem;}
.scroll-area .con-box2 {padding: 2.4rem 2rem 0;}

/* 텍스트 박스 레이아웃 */
.described-box {margin: 2.1rem 0 2.9rem;}
.described-box .tit {font-size: 1.5rem; font-weight: 700; color: #666;}
.described-box .tit .num {width: 1.6rem; display: inline-block; font-weight: 700;}

/* 리스트 형 - qna */
.qna-list {margin-top: 3.2rem;}
.qna-list > dt {margin-bottom: 1.5rem; font-size: 1.6rem; font-weight: 600; color: #171a1a;}
.qna-list > dd .txt {font-size: 1.6rem; color: #5e6666; line-height: 1.7;}

/* 리스트 양쪽정렬(type01 contents.css에 있음) */
/* type02 */
.use-coupon-wrap {margin-top: 2rem;}
.use-coupon-wrap .checkbox-wrap label {color: #333; font-weight: 400; line-height: 2rem;}
.list-wrap.type02 {border-top: 0; padding: 0.5rem 0 1rem;}
.list-wrap.type02 dl {width: 100%; display: flex; justify-content: space-between;}
.list-wrap.type02 dl + dl {margin-top: 1rem;}
.list-wrap.type02 dl > dt {font-size: 1.3rem; color: #757575; flex: 1;}
.list-wrap.type02 dl > dd {font-size: 1.5rem; color: #393939; text-align: right; flex: 2;}
.list-wrap.type02 dl.point dt,
.list-wrap.type02 dl.point dd {color: #e53a4c;}



/* --- 컨텐츠 --- */

/* 폼 레이아웃 */
.form-list {display: flex;}
.form-list.type-half {flex-wrap: wrap; justify-content: space-between; align-items: center}
.form-list.type-half > li {width: 50%; flex: 1 1 50%; margin-top: 2.4rem;}
.form-list.type-half > li:nth-child(1),
.form-list.type-half > li:nth-child(2) {margin-top: 0;}

/* 폼 타입 */
.form-flex-wrap {display: flex; align-items: flex-end; justify-content: space-between;}
.form-flex-wrap .select-wrap + .input__wrap {margin-left: 1.6rem;}
.form-flex-wrap .input__wrap {flex:1;}

/* 인풋 스타일 */
.input__wrap--wide .input:before, .input__wrap--wide2 .input:before {top: -1px;}
.input {position: relative; width: 100%;}
.input__wrap .bar {display: none; margin: 0 0.8rem; padding: 2.8rem 0 0.4rem 0; color: #bbb;}
.input__wrap .bar::before {content: ''; width: 0.8rem; height: 0.1rem; margin-top: 1.1rem; background: #bbb; display: inline-block; vertical-align: top;}
.input__wrap .bar + .input {display: none;}
.input.input--disabled + .bar,
.input.input--focus + .bar,
.input.input--on + .bar {display: block;}
.input.input--disabled + .bar + .input,
.input.input--focus + .bar + .input,
.input.input--on + .bar + .input {display: block;}
.input.input--disabled + .bar + .input + .bar,
.input.input--on + .bar + .input + .bar,
.input.input--on + .bar + .input + .bar + .input {display: block;}

.id-photo-form .input__wrap .bar,
.id-photo-form .input__wrap .input {display: block;}
.id-photo-form .input__label {font-size: 1.6rem; color: #666; font-weight: 500; top: 0.8rem; white-space: nowrap;}

.pass-dot-wrap {display: flex; align-items: center; margin-top: 0.1rem;}
.pass-dot-wrap .pass-dot {width: 1.6rem; height: 1.6rem; margin: 0 0.1rem; border-radius: 50%; background: #666;}
.input .pass-dot-wrap {height: 5.7rem; display: flex; padding: 2.8rem 0 0.4rem 0.4rem; align-items: center; margin-top: 0;}
.input .pass-dot-wrap .pass-dot,
.button-select__item .pass-dot-wrap .pass-dot {width: 1.8rem; height: 1.8rem; margin: 0 0.2rem; display: inline-block; border-radius: 50%; background: #009591;}
.input.input--disabled .pass-dot-wrap .pass-dot,
.select--disabled .button-select__item .pass-dot-wrap .pass-dot {background: #666;}
.input .btn-minus,
.input .btn-plus {margin: 0 0 1.1rem 1.6rem; align-self: flex-end;}
.input:before {content: ''; position: absolute; top: 0; left: 0; z-index: 0; width: 100%; height: calc(100% + 0.1rem); border-bottom: 0.1rem solid #dddee4; box-shadow: none;}
.input__inner {display: -webkit-box; display: flex; position: relative; padding: 0; align-items: flex-end;}
.input__inner .input__optional:first-child {padding-left: 0;}
.input__inner .input__optional:last-child {padding-right: 0;}
.input__inner .native-inner[role=button] .input__element--right.input__no-label + .input__optional {margin: 0.25rem 0 0 0; padding: 0 0.5625rem 0 0.25rem;}
.input__inner .btn {margin: 1.4rem 0 0 1.2rem;}

.input__label {font-size: 1.8rem; font-weight: 700; color: #bbb; position: absolute; left:0; top: 4rem; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: all .3s ease; transition: all .3s ease;}
.input__element {width: 100%; flex: 1; padding: 2.8rem 0 0.4rem 0; outline: none; line-height: 2.4rem; background: none; position: relative; text-align: left; font-size: 1.8rem; font-weight: 700; color: #009591; z-index: 1;}
.input__element:not(:readonly):focus ~ .input__label {color: #666; top: 1.0625rem; font-size: 0.8125rem; left: 0.875rem;}
.input__element::-webkit-input-placeholder {color: transparent; -webkit-transition: color ease-in-out .1s; transition: color ease-in-out .1s; font-weight: 700;}
.input__element::placeholder {color: transparent; -webkit-transition: color ease-in-out .1s; transition: color ease-in-out .1s; font-weight: 700;}
.input--on .input__element::-webkit-input-placeholder {color: #bbb;}
.input--on .input__element::placeholder {color: #bbb;}
.input__element--right {text-align: right; padding-right: 0;}
.input__element--right ~ .input__optional {padding-left: 0.25rem; padding-top: 1.3125rem; line-height: 1.2;}
.input__element--right.input__no-label + .input__optional {margin-top: 0.25rem;}
.input__element--center {text-align: center;}
.input__element--search {padding: 0;}
.input__element.input-price {text-align: right;}

.input__element.input__no-label::-webkit-input-placeholder,
.input__element.input-price::-webkit-input-placeholder {color: #d0d9d9; font-size: 1.8rem; font-weight: 700;}
.input__element.input__no-label::placeholder,
.input__element.input-price::placeholder {color: #d0d9d9; font-size: 1.8rem; font-weight: 700;}

.input__remove-button {display: none; max-width: 1.6rem; width: 1.6rem; height: 1.6rem; margin: 0 0 0.8rem 1rem; background: url(../images/icon/ico-system-input-close.png) 50% 50% no-repeat; background-size: 100% auto; font-size: 0; line-height: 1.2;}
/* 접근성 관련 : 인풋 삭제 버튼 value값이 있을 때 고정 */
.textarea--on .input__remove-button,
.input--on .input__remove-button {display: inline-block;}
.input--on .input__element:disabled + .input__remove-button,
.input--on .input__element:read-only + .input__remove-button {display: none;}

.input--disabled:before {border-color: #dddee4 !important; background: #f3f4f5; color: #666 !important; font-weight: 400; box-shadow: none !important;}
.input--disabled .input__element, .input--disabled .input__optional {color: #666 !important; opacity: 1 !important;}
.input--disabled .input__calendar-button {opacity: 0.3;}


.input--error:before {height: calc(100% + 0.1rem);; border-bottom: 0.1rem solid #e53a4c !important;}
/* .input--error .input__element,
.input--error.input--on .input__element,
.input--error.input--focus .input__element {color: #e53a4c;} */
.input__guide-txt.input__error {display: none; font-size: 1.4rem; padding: 0; color: #e53a4c;}
.input--error .input__guide-txt.input__error {display: block;}

.input-date-error .input__error {display: block;}
.input-date-error .input.error:before {border-bottom: 0.1rem solid #e53a4c;}
.input-date-error .input.error .input__element {color: #e53a4c;}

.input--on .input__label {color: #666; font-size: 1.6rem;}
.input--on .input__optional {display: block;}
.input--on.input--focus .input__remove-button {display: inline-block;}

.input--focus:before {border-color: #30bfba;}
.input--focus .input__element {color: #00a5a0;}
.input--focus .input__element::-webkit-input-placeholder {color: #d0d9d9; font-weight: 600;}
.input--focus .input__element::placeholder {color: #d0d9d9; font-weight: 600;}

.input--focus .input__optional {display: block;}
.input--focus .input__remove-button {display: inline-block;}
.input--focus .input__label, 
.input--on .input__label {font-size: 1.6rem; color: #666; font-weight: 500; top: 0.8rem; white-space: nowrap;}

.input.readonly .input__element {color: #2f3333;}
.input.readonly:before {border-color: #dddee4 !important; color: #2f3333 !important; font-weight: 400; box-shadow: none !important;}
.input.readonly::-webkit-input-placeholder {color: #bbb; font-weight: 300;}
.input.readonly::placeholder {color: #bbb; font-weight: 300;}

.input--disabled:before {background: none; border-color: #dddee4 !important;}
.input--disabled .input__label {font-size: 1.6rem; color: #666; font-weight: 500; top: 0.8rem;}
.input--disabled .input__remove-button {display: none !important;}
.input--disabled .input__optional {color: #666;}

.input__guide-txt {margin-top: 1.1rem; font-size: 1.3rem; color: #666;}
.input__guide-txt.input__note {padding-left: 2rem; background: url(../images/icon/ico-system-caution.png) 0 0 no-repeat; background-size: 1.6rem auto;}
.input__guide-txt.input__note span {font-size: 1.3rem;}
.input__guide-txt.input__error {margin-top: 0.9rem;}
.input__wrap .checkbox-wrap > label {vertical-align: top; margin-top: 2.1rem;}

/* 인풋(no-label) */
.no-label .input__element,
.no-label.search-btn-wrap .input-search-btn .button-search__btn {padding: 0.4rem 0;}
.no-label.search-btn-wrap .input-search-btn .btn-search {height: 3.2rem;}

/* 인풋(박스형) */
.input-box {width: 100%; height: 4rem; padding: 0.8rem; border: 0.1rem solid#dfe6e6; border-radius: 0.8rem; font-size: 2rem; font-weight: 600; color: #2f3333;}
.input-box:focus {border-color: #30bfba;}
.input-box-wrap.error .input-box {border-color: #e53a4c;}
.input-box::placeholder,
.input-box::-webkit-input-placeholder {color: #d0d9d9; font-size: 2rem;}
.input-box + .input__error {display: none;}
.input-box-wrap.error .input__error {display: block;}
.input-box.w56 {width: 5.6rem;}
.input__wrap {display: -webkit-box; display: flex; -webkit-box-align: center; align-items: center; margin: 0 -0.25rem;}
.input__wrap .input:before {top: -1px;}

/* 인풋 - 검색 */
.search-area {width: calc(100% + 4.8rem); margin: 0 -2.4rem; padding: 3rem 2.4rem; position: sticky; top: 0; left: 0; z-index: 5; background: #fff;}
.search-area.form-area {margin-top: 0;}
.input.input-search::before {height: 6rem; border: 0.1rem solid #dddee4; border-radius: 1rem; box-sizing: border-box;}
.input.input-search.input--error::before {border: 0.1rem solid #dddee4 !important; box-shadow: none;}
.input.input-search.input--focus::before,
.input.input-search.input--focus.input--error::before {box-shadow: 0 0 8px 0 rgba(0, 149, 145, 0.25); border: solid 0.2rem #009591 !important;}
.input.input-search label {display: none;}
.input.input-search .input__element {min-height: 6rem; padding: 1.8rem 0 1.8rem 1.6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #000; font-weight: 400;}
.input.input-search .input__element::placeholder {color: #757575; font-weight: 400;}
.input.input-search .input__element::-webkit-placeholder {color: #757575; font-weight: 400;}
.input.input-search .input__inner {padding-right: 5rem; position: relative;}
.input .btn-search {width: 5rem; height: 5.8rem; margin-left: 1.2rem; display: inline-block; font-size: 0; background: url(../images/icon/ico-system-input-interactive-search.png) top 50% right 1.8rem no-repeat; background-size: 2rem auto; align-self: flex-end;}
.input.input-search .btn-search {margin-left: 0; position: absolute; top: 0; right: 0; z-index: 1; align-self: unset;background-position: top 50% right 1.6rem; background-size: 2.4rem auto;}
.input.input-search .input__remove-button {margin: 0; align-self: center;}

.search-area .search-layer {display: none; width: 100%; height: 25.2rem; position: absolute; top: 6.3rem; left: 0; z-index: -1; opacity: 0; overflow: hidden; border: 0.1rem solid #30bfba; border-radius: 1.2rem; background: #fff; transition-duration: 0.3s; -moz-transition-duration: 0.3s;}
.search-area .search-layer.open {display: block; opacity: 1; overflow-y: auto; z-index: 5;} 
.search-layer ul.search-list > li {font-size: 1.5rem;}
.search-layer ul.search-list > li a {padding: 1.3rem 2rem; display: block; color: #666;}
.search-layer ul.search-list > li.active a {background: #f2fafa; color: #00a5a0;}

/* 검색 팝업 버튼 */
.search-btn-wrap .input-search-btn {display: -webkit-box; display: flex; -webkit-box-align: center; align-items: center; position: relative;}
.search-btn-wrap .input-search-btn .search-label {font-size: 1.8rem; font-weight: 700; color: #bbb; position: absolute; left: 0; top: 4rem; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: all .3s ease; transition: all .3s ease;}
.search-btn-wrap .input-search-btn::before {content: ''; position: absolute; top: 0; left: 0; z-index: 0; width: 100%; height: calc(100% + 0.1rem); border-bottom: 0.1rem solid #dddee4; box-shadow: none;}
.search-btn-wrap .input-search-btn .input-search__inner {width: 100%; display: flex; align-items: center; position: relative;}
.search-btn-wrap .input-search-btn .button-search__btn {width: 100%; flex: 1; padding: 2.8rem 0 0.4rem 0; outline: none; line-height: 1.5; background: none; position: relative; text-align: left; font-size: 1.8rem; font-weight: 600; color: #2f3333; z-index: 1; opacity: 0;}
.search-btn-wrap .input-search-btn .btn-search {width: 2.4rem; height: 5.9rem; display: inline-block; font-size: 0; background: url(../images/icon/ico-system-input-search.svg) bottom 0.9rem right 0 no-repeat; background-size: 1.4rem auto; align-self: flex-end;}
.search-btn-wrap.search--on .input-search-btn .search-label {font-size: 1.6rem; color: #666; font-weight: 500; top: 0.8rem;}
.search-btn-wrap.search--active .input-search-btn .search-label {font-size: 1.6rem; color: #666; font-weight: 500; top: 0.8rem;}
.search-btn-wrap.search--disabled .input-search-btn .search-label {font-size: 1.6rem; color: #666; font-weight: 500; top: 0.8rem;}
.search-btn-wrap.search--on .input-search-btn::before {border-color: #30bfba;}
.search-btn-wrap.search--on .input-search-btn {color: #009591; opacity: 1;}
.search-btn-wrap.search--active .button-search__btn {color: #009591; opacity: 1;}
.search-btn-wrap.search--disabled .button-search__btn {color: #666; opacity: 1;}
.search-btn-wrap.search--error .button-search__btn {opacity: 1;}
/* .search-btn-wrap.search--error .input-search-btn::before {border-color: #e53a4c;} */
.search-btn-wrap.search--error .input__error {display: block;}

/* 검색영역 결과 */
.address-search-wrap .search-top-area {padding-bottom: 1.6rem;}
.search-top-area .result-txt {font-size: 1.4rem; color: #333;}
.search-top-area .result-tit {font-size: 1.6rem; font-weight: 500; color: #000;}

.address-result-wrap .address-list > li {padding: 1.6rem 0 2.1rem; border-bottom: 0.1rem solid #e7e9ee;}
.address-result-wrap .address-list .post-num {font-size: 1.6rem; font-weight: 500; color: #333;}
.address-result-wrap .address-list .address-txt {margin-top: 0.1rem; font-size: 1.6rem; color: #000;}
.address-result-wrap .address-list .address-sub {margin-top: 0.9rem; display: flex; align-items: center;}
.address-result-wrap .address-list .address-sub .label {margin-right: 0.4rem; padding: 0.4rem 0.7rem; border-radius: 0.4rem; border: solid 1px #eaeaee; font-size: 1.2rem; color: #009591; display: inline-block;}
.address-result-wrap .address-list .address-sub .txt {flex: 1; font-size: 1.4rem; color: #757575;}

/* 인풋 레이아웃 */
.input__wrap {margin: 0;}
.input__wrap .input .input__inner {padding-right: 0}
/* .input__wrap .input.input--focus .input__inner .input__label:not(.font-inherit), 
.input__wrap.input--on .input .input__inner .input__label:not(.font-inherit) {font-size: 1.6rem; top: 0.8rem;} */
.input__wrap .input .btn {display: none; min-width: auto; margin: 0 0 0.3rem 0.8rem; white-space: nowrap;}
.input__wrap .input .time {display: none; margin: 0 0 0.3rem 0.8rem; white-space: nowrap; font-size: 1.3rem; line-height: 1.2; color: #757575;}
.input__wrap .input.input--on .btn, 
.input__wrap .input.input--on .time,
.input__wrap .input.input--focus .btn, 
.input__wrap .input.input--focus .time {display: block;}

.input__wrap .input + .input {margin-top: 0; margin-left: 1.6rem;}
.input__calendar-button {width: 2rem; height: 2rem; min-width: 2rem; max-width: 2rem; margin:1.1rem 0 0 1.6rem; background: url(../images/icon/calendar.png) 50% 50% no-repeat; background-size: 100% auto;}
.input .input__inner .input__element {font-size: 1.8rem; line-height: 1.5; opacity: 0;}
.input .input__inner .input__element.w12 {width: 1.2rem; flex: none;}
.input__wrap .input.w30,
.input__wrap .input .input__inner .input__element.w30 {width: 3rem; flex: none; text-align: center;}
.input__wrap .input.w30 .input__inner .input__element {text-align: center;}
.input__wrap .input.no-label .input__inner .input__element,
.input__wrap .input.input--on .input__inner .input__element,
.input__wrap .input.input--focus .input__inner .input__element {opacity: 1;}
.input-item-left {margin: 2rem 1.2rem 0 0; font-size: 1.8rem; font-weight: 600; color: #666; white-space: nowrap;}
.input-item-right {margin: 1.3rem 0 0 1.2rem; font-size: 1.8rem; font-weight: 600; color: #666; white-space: nowrap;}

/* 주민등록번호 뒷자리 */
.social-number-area {flex:1; position: relative;}
.social-number-area .pass-dot-wrap {position: absolute; bottom: 0; left: 0; z-index: -1;}
.form-area .input__wrap .input .only-pw {flex: 1;}
.only-pw .social-number-area .pass-dot-wrap {width: 100%; justify-content: center;}
.social-number-area .input__element {opacity: 0 !important;}

.form-area {margin-top: 4rem; position: relative;}
.form-area .form-label {position: absolute; top: 0; left: 0; z-index: 1; color: #666; font-size: 1.4rem;}
.form-area .form-title {margin-bottom: 1.2rem; font-size: 1.6rem; color: #666; font-weight: 500;}
.form-area .btn-group-flex {margin-top: 1.2rem;}
.form-area .btn-group-flex .btn + .btn {margin-left: 0.4rem;}
.form-area .textarea {position: relative;}
.form-area .textarea::before {content: ''; position: absolute; top: 0; left: 0; z-index: 0; width: 100%; height: calc(100% + 0.1rem); border-bottom: 0.1rem solid #dddee4; box-shadow: none;}
.form-area .textarea.textarea--focus::before {border-bottom-color: #30bfba;}
.form-area .textarea .form__label {white-space: nowrap; font-size: 1.8rem; font-weight: 700; color: #bbb; position: absolute; left:0; top: 4rem; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: all .3s ease; transition: all .3s ease;}
.form-area .textarea.textarea--focus .form__label,
.form-area .textarea.textarea--on .form__label,
.form-area .textarea.textarea--disabled .form__label {font-size: 1.6rem; color: #666; font-weight: 500; top: 0.8rem;}
.form-area .textarea .textarea__element {width: 100%; flex: 1; padding: 2.8rem 0 0.4rem 0; outline: none; line-height: 2.4rem; background: none; position: relative; text-align: left; font-size: 1.8rem; font-weight: 700; color: #009591; z-index: 1; opacity: 0; overflow: hidden;}
.form-area .textarea .textarea__element::placeholder,
.form-area .textarea .textarea__element::-webkit-input-placeholder {color: #d0d9d9; font-weight: 600;}
.form-area .textarea.textarea--disabled .textarea__element:disabled,
.form-area .textarea.textarea--disabled .textarea__element:read-only {color: #666;}
.form-area .textarea.textarea--disabled .textarea__element,
.form-area .textarea.textarea--focus .textarea__element,
.form-area .textarea.textarea--on .textarea__element {opacity: 1;}

.form-area .btn-info {position: absolute; top: -0.2rem; right: 0; z-index:2;}
.popup-wrap .form-area {margin-top: 0;}
.popup-wrap .form-area + .form-area {margin-top: 3.2rem;}

/* 폼 하단 버튼 영역 */
.form-underbtn-wrap {margin-top: 1rem;}

/* 검색결과 없음 (on data) */
.no-data-wrap {}
.no-data {width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center;}
.no-data .txt {font-size: 1.4rem; color: #333; font-weight: 400;}
/* .no-data .sub-txt {margin-top: 0.6rem; font-size: 1.5rem; color: #666;} */

/* 약관 */
.popup-wrap .privacy-wrap {padding: 0.5rem 0 1.2rem;}
.privacy-top-area {margin-bottom: 2.4rem;}
.privacy-top-area .checkbox-wrap label {font-size: 18px; font-weight: 500;}
.privacy-area {border: 0.1rem solid #e7e9ee; border-radius: 1.8rem;}
.privacy-area .item-privacy {padding: 1.9rem 4.6rem 1.7rem 2.4rem; position: relative;}
.privacy-area .item-privacy .checkbox-wrap {width: 100%;}
.privacy-area .item-privacy .privacy__more {width: 1.6rem; height: 1.6rem; font-size: 0; background: url(../images/icon/ico-system-arrow-right-m.png); background-size: 100% auto; position: absolute; top: 2.4rem; right: 2.3rem; z-index: 1;}
.privacy-area .item-sublist {border-top: 0.1rem solid #e7e9ee;}
.privacy-area .item-sublist.close {display: none;}
.privacy-area .item-sublist2 {padding: 0 0 1rem 2.4rem;}
.privacy-area .item-sublist__inner {padding: 0.8rem 0 1.6rem;}
.privacy-area .item-sublist__inner .item-privacy {padding: 0.8rem 2.3rem 0.8rem 2.4rem; border-bottom: 0;}
.privacy-area .item-sublist__inner .item-privacy .checkbox-wrap.sm {width: calc(100% - 2.4rem);}
.privacy-area .item-sublist__inner .item-privacy .privacy__more {background-image: url(../images/icon/ico-system-arrow-right-s-active.png); top: 1.1rem;}
.privacy-area .privacy__label {letter-spacing: -1;}

/* 약관 - 주의 단계 */
.attention-stage {height: 2rem; line-height: 1.9rem; margin-top: 0.1rem; margin-left: 0.6rem; padding: 0 0.6rem; vertical-align: top; border-radius: 1rem; display: inline-block; color: #fff; font-size: 1.2rem; font-weight: 500;}
.attention-stage.stage1 {background: #3198df;} /* 안심 */
.attention-stage.stage2 {background: #70a301;} /* 다소안심 */
.attention-stage.stage3 {background: #f26100;} /* 신중 */


/* 카드타입 - 설정(토글레이어) */
.tg--area .tg--layer {display: none !important;}
.tg--area .tg--layer.open {display: block !important;}
.tg--area .tg-text-cont .txt {font-size: 14px; font-weight: 300; color: #333;}

/* 아이콘 공통 */
/* - 아이콘(원큐 테마) */
[class^="icon-1q"],
[class^="icon-product"],
[class^="icon-menu"],
[class^="icon-global"] {width: 5.6rem; height: 5.6rem; display: inline-block; border-radius: 50%; background-position: 50% 50%; background-repeat: no-repeat; background-size: 4.8rem auto;}
i.icon-1q-checking {background-image: url(../images/icon_product/1q_checking.png);}
i.icon-1q-saving {background-image: url(../images/icon_product/1q_saving.png);}
i.icon-1q-term {background-image: url(../images/icon_product/1q_term.png);}
i.icon-1q-dream {background-image: url(../images/icon_product/1q_dream.png);}
i.icon-1q-tfsa_saving {background-image: url(../images/icon_product/1q_tfsa_saving.png);}
i.icon-1q-tfsa_term {background-image: url(../images/icon_product/1q_tfsa_term.png);}

/* - 아이콘(상품) */
i.icon-product-commission {background-image: url(../images/icon_product/commission.png);}
i.icon-product-online {background-image: url(../images/icon_product/online.png);}
i.icon-product-fast {background-image: url(../images/icon_product/fast.png);}
i.icon-product-interest {background-image: url(../images/icon_product/interest.png);}
i.icon-product-commission_p {background-image: url(../images/icon_product/commission_p.png);}
i.icon-product-online_o {background-image: url(../images/icon_product/online_o.png);}
i.icon-product-appointed {background-image: url(../images/icon_product/appointed.png);}
i.icon-product-division {background-image: url(../images/icon_product/division.png);}
i.icon-product-split_withdraw {background-image: url(../images/icon_product/split_withdraw.png);}
i.icon-product-saving {background-image: url(../images/icon_product/saving.png);}
i.icon-product-money_management {background-image: url(../images/icon_product/money_management.png);}
i.icon-product-bonus {background-image: url(../images/icon_product/bonus.png);}
i.icon-product-tax {background-image: url(../images/icon_product/tax.png);}
i.icon-product-withdraw {background-image: url(../images/icon_product/withdraw.png);}

/* - 아이콘(메뉴) */
i.icon-menu-charge {background-image: url(../images/icon_menu/charge.png);}
i.icon-menu-charge_month {background-image: url(../images/icon_menu/charge_month.png);}
i.icon-menu-atm {background-image: url(../images/icon_menu/atm.png);}
i.icon-menu-cad_account {background-image: url(../images/icon_menu/cad_account.png);}
i.icon-menu-expire {background-image: url(../images/icon_menu/expire.png);}
i.icon-menu-online {background-image: url(../images/icon_menu/online.png);}
i.icon-menu-division {background-image: url(../images/icon_menu/division.png);}
i.icon-menu-date {background-image: url(../images/icon_menu/date.png);}
i.icon-menu-target {background-image: url(../images/icon_menu/target.png);}
i.icon-menu-money_big {background-image: url(../images/icon_menu/money_big.png);}
i.icon-menu-withdraw {background-image: url(../images/icon_menu/withdraw.png);}
i.icon-menu-date2 {background-image: url(../images/icon_menu/date2.png);}
i.icon-menu-online_p {background-image: url(../images/icon_menu/online_p.png);}

/* - 아이콘(글로벌) */
.icon-global-spot {background-image: url(../images/icon_product/global_spot.png);}
.icon-global-bank {background-image: url(../images/icon_product/global_bank.png);}
.icon-global-withdraw {background-image: url(../images/icon_product/global_withdraw.png);}

/* - 아이콘(svg) */
i.icon-tel {background: url(../images/icon/tel_gray.png) 50% 56% no-repeat; background-size: 100% auto;}
i.icon-fax {background: url(../images/icon/print_gray.png) 50% 56% no-repeat; background-size: 100% auto;}
i.icon-time {background: url(../images/icon/time_gray.png) 50% 56% no-repeat; background-size: 100% auto;}
i.icon-equal2-gray {background: url(../images/icon/equal2_9ca6a6.png) 50% 50% no-repeat; background-size: 100% auto;}


/* 카드타입 정렬 */
.card-wrap {width: 100%; margin-top: 0.4rem; display: inline-block;}
.card-wrap + .card-wrap {margin-top: 1.2rem;}
.card-wrap .card-type1,
.card-wrap .card-type2,
.card-wrap .card-type4 {margin-top: 1.2rem;}
.card-wrap .card-type3 {margin-top: 0.8rem;}
.modal__contents .card-wrap {margin-top: 0;}

/* 캐나다 하나은행 내 이체 (타이틀 + 카드목록) */
.confirm-wrap .page-tit + .card-wrap {margin-top: 1.6rem;}

/* 카드타입 */
/* - 카드 타입1 : all case */
.card-type1 {width: 100%; padding: 2.4rem 2rem; border-radius: 1.2rem; box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.05); background: #fff; position: relative;}
.card-type1.active {background: #dddee4;}
.card-type1 .top-right-area {min-width: 5rem; display: inline-block; text-align: right; position: absolute; top: 2.4rem; right: 2rem; z-index: 1;}
.card-type1 .top-right-area button {vertical-align: top;}
.card-type1 .card-cont {width: 100%; display: flex;}
.card-type1 .card-cont .left-img-area {width: 5.6rem;}
.card-type1 .card-cont .left-img-area img {width: 4rem; height: 4rem; overflow: hidden; border-radius: 50%; background: url(../images/country/flag-def.png) 50% 50% no-repeat; background-size: 100% auto; display: block; font-size: 0;}
.card-type1 .card-box {flex:1;}
.card-type1 .card {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-end;}
.card-type1 .card dl {max-width: calc(100% - 5rem); display: inline-block; flex: 1 1 auto;}
.card-type1 .card dl > dt {margin-bottom: 0.4rem; display: block;}
.card-type1 .card dl > dd {width: 100%; overflow: hidden;}
.card-type1 .card dl > dd p {vertical-align: top;}
.card-type1 .card-box .date {margin-bottom: 1.6rem; font-size: 1.4rem; color: #666;}
.card-type1 .card-box .tit {font-size: 1.8rem; color: #171a1a; font-weight: 600; word-break: keep-all; word-wrap: break-word;}
.card-type1 .card-box .tit.tit-type2 {font-size: 1.5rem; color: #2f3333;}
.card-type1 .card-box .txt {font-size: 1.4rem; line-height: 2rem; color: #666;}
.card-type1 .card-box .txt + .txt {margin-top: 0.2rem;}
.card-type1 .card-box .txt > span {font-size: 1.4rem; color: #666; display: inline-block;}
.card-type1 .card-box .account-num {font-size: 1.4rem; line-height: 2rem; vertical-align: top;}
.card-type1 .card-box .txt-right {padding-top: 2rem; line-height: 2rem; display: inline-block; text-align: right; flex: 1 1 auto;}
.card-type1 .card-box .txt-right .price {display: inline-block; line-height: 2rem; font-size: 1.8rem; font-weight: 600; color: #171a1a;}
.card-type1 .card-box i {width: 1.6rem; height: 1.6rem; margin: 0.2rem 0; vertical-align: top;}
.card-type1 .btn-wrap {margin: 2rem 0 0; text-align: center;}
.card-type1 .memo-area {padding-top: 1.2rem; position: relative;}
.card-type1 .memo-area::before {content: ''; width: 0; height: 0; display: inline-block; border: 0.8rem solid transparent; border-bottom: 0.7rem solid #f7fafa; position: absolute; top: 0; left: 1.2rem; overflow: hidden;}
.card-type1 .memo-area .memo {padding: 0.7rem 1.6rem; background: #f7fafa; font-size: 1.4rem; color: #666; border-radius: 0.8rem;}
.card-type1 .bottom-area {margin-top: 1.6rem; padding-top: 1.6rem; border-top: 0.1rem solid #dddee4;}
.card-type1 .bottom-area .txt {color: #666; font-size: 1.4rem;}
.card-type1 .btn-wrap:last-child,
.card-type1 .memo-area:last-child {margin-bottom: -0.4rem;}
.card-type1.no-account .tit,
.card-type1.no-account .tit.tit-type2,
.card-type1.no-account .txt {color: #666;}
.card-type1 .btn-wrap {display: none;}
.card-type1.no-account .btn-wrap {display: block;}
.card-type1.no-account .top-right-area {display: none;}
.card-type1 .card-full dd {margin-top: 0.4rem}

/* card-type1 disabled */
.card-type1.disabled {position: relative;}
.card-type1.disabled::before {content: ''; display: block; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; background-color: #fff; border-radius: 1.2rem; opacity: 0.6;}
.card-type1.disabled.active {background-color: #fff;}

/* 카드 타입 : 공통 버튼 */
.btn-star {display: inline-block;}
.btn-star {width: 2rem; height: 2rem; font-size: 0; display: inline-block; background: url(../images/icon/favorit.png) 0 0 no-repeat; background-size: 2rem auto;}
.btn-star.on {background: url(../images/icon/favorit_active.png) 0 0 no-repeat;}

.badge {height: 2rem; padding: 0.1rem 0.6rem; display: inline-block; font-size: 1.2rem; border-radius: 0.4rem; overflow: hidden;}
.badge.type-value1 {background: #eaedf6; color: #455896;} /* 입출금 */
.badge.type-value2 {background: #e3f6ff; color: #147eac;} /* 예금 */
.badge.type-value3 {background: #e6f6f6; color: #009591;} /* 적금 */
.badge.type-value4 {background: #eaf2fe; color: #316fd4;} /* 전자금융 */
.badge.type-value5 {background: #f9ecef; color: #d2425e;} /* 외환 */
.badge.type-disabled {background: #9ca6a6; color: #f7fafa;}


/* 상세(결과) */
.detail-card .tit {font-size: 2.4rem; font-weight: 700; color: #171a1a;}
.detail-card .txt {margin-top: 0.2rem; font-size: 1.6rem;  color: #666;}
.detail-card .card-bottom {display: flex; margin-top: 4.4rem; align-items: center; justify-content: space-between;}
.detail-card .card-bottom .left-area {width: auto;}
.detail-card .card-bottom .right-area {width: 100%; flex: 1; text-align: right;}
.detail-card .price {font-size: 2.4rem; font-weight: 600; color: #171a1a;}
.detail-card .btn-wrap {margin-top: 3.2rem;}
.detail-card .memo-wrap + .btn-wrap {margin-top: 1.6rem;}
.detail-card .card-bottom + .memo-wrap {margin-top: 0.8rem;}
.detail-card .btn-group-flex {margin-top: 3.2rem;}
.detail-area .detail-list {margin-top: 3.2rem; padding-top: 3.2rem; border-top: 0.1rem solid #dddee4;}
.detail-list .card-wrap {margin-top: 0;}
.detail-list .page-tit + .card-wrap {margin-top: 1.6rem;}

.memo-wrap {position: relative; padding-top: 1.6rem;}
.memo-wrap::before {content: ''; width: 0; height: 0; display: inline-block; border: 0.8rem solid transparent; border-bottom: 0.8rem solid #f5f6fa; position: absolute; top: 0; left: 1.6rem; overflow: hidden;}
.memo-wrap .text {padding: 1.2rem 1.6rem; background-color: #f5f6fa; border-radius: 0.8rem 0.8rem; font-size: 1.4rem; color: #666;}

/* 버튼형 토글 */
.btn-toggle-wrap {margin-top: 3.2rem;}
.btn-toggle-list .top .btn.gray::after {content: ''; width: 1.6rem; height: 1.2rem; margin: 0 0 0 0.4rem; display: inline-block; background: url(../images/icon/dropdown_open_black.png) 50% 50% no-repeat; background-size: 1.6rem auto;}
.btn-toggle-list .top .btn.gray:hover, 
.btn-toggle-list .top .btn.gray:active, 
.btn-toggle-list .top .btn.gray:focus {background: #fff;}
.btn-toggle-list .top.is-active .btn::after {transform: rotate(-180deg);}
.btn-toggle-list .con {margin-top: -13px;}
.btn-toggle-list .lgreen-box-wrap.type02 {padding-top: 3rem;}

/* 박스형 배너 */
.banner-box {margin-top: 3.2rem; padding: 3.2rem 2rem 2.9rem; color: #fff; border-radius: 1.2rem; box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.05); text-align: center;}
.banner-box p {margin-top: 0.4rem; font-size: 1.4rem;}
.banner-box::before {content: ''; width: 4rem; height: 4rem; margin-bottom: 0.2rem; display: inline-block; border-radius: 50%; overflow: hidden;}
.banner-box .tit {font-size: 2rem; font-weight: 700;}
.banner-box .sub-tit {font-size: 1.6rem; font-weight: 600;}
.banner-box.ban-success {background: #30bfba;}
.banner-box.ban-success::before {background: url(../images/icon/check_30bfba.png) 50% 50% no-repeat #fff; background-size: 2.4rem auto;}
.banner-box.ban-try {background: #4d5980;}
.banner-box.ban-try::before {background: url(../images/icon/kebab_menu_4d5980.png) -0.2rem 50% no-repeat #fff; background-size: 2.4rem auto; transform: rotate(-90deg);}
.banner-box.ban-try .tit,
.banner-box.ban-try .sub-tit {color: #fff;}
.banner-box.ban-try p {color: rgba(255, 255, 255, 0.7);}

/* 레이어 팝업(투명한 지점 팝업) */
.popup-wrap.branch-layer-wrap {height: 0; bottom: 0; left: 0; z-index: 100 !important; -webkit-transition: height .3s ease-in-out; transition: height .3s ease-in-out;}
.popup-wrap.branch-layer-wrap:before {display: none;}
.popup-wrap.branch-layer-wrap.is-open {height: calc(100vh - 34.2rem); top: inherit;}
.popup-wrap.branch-layer-wrap .modal__container {height: auto; min-height: 4.4rem; max-height: 100%; padding: 0; bottom: 0; right: 0; left: 0; background: #fff; border-radius: 2.4rem 2.4rem 0 0; box-shadow: 0 -0.5rem 1rem 0 rgba(0, 0, 0, 0.03);}
.popup-wrap.branch-layer-wrap .modal__contents {height: 0; padding: 0; color: #171a1a; overflow: hidden;}
.popup-wrap.branch-layer-wrap.is-open .modal__contents {height: auto; max-height: 100%;}
.popup-wrap.branch-layer-wrap .modal__btn-bar {width: 100%; height: 4.4rem; line-height: 4.4rem; position: absolute; top: 0; left: 0; z-index: 1; cursor: none;}
.popup-wrap.branch-layer-wrap .modal__btn-bar::before {content: ''; width: 3.2rem; height: 0.4rem; margin-top: 1.2rem; border-radius: 0.2rem; display: inline-block; background: #d0d9d9; vertical-align: top;}
.popup-wrap.branch-layer-wrap .modal__btn--open {z-index: 1;}
.popup-wrap.branch-layer-wrap .modal__btn--close {z-index: -1;}
.popup-wrap.branch-layer-wrap.is-open .modal__btn--open {z-index: -1;}
.popup-wrap.branch-layer-wrap.is-open .modal__btn--close {z-index: 1;}


/* 상품선택 */
.sticky--wrap.fixed-wrap .tab-slide-cont {padding-top: 4.5rem;}
.sticky--point.fixed {width: 100%; padding: 0 2.4rem; position: fixed; top: 5.6rem; left:0; z-index: 11; background: #fbfcfc;}

.product-slide-wrap {width: calc(100% + 4.8rem); margin: 4rem -2.4rem 0; padding: 0 2.4rem; overflow: hidden;}
.product-slide-wrap .tab-slide-wrap .tab-slide-list {height: 4.5rem;}
.product-slide-wrap .tab-slide-wrap .swiper-wrappe r {z-index: 0;}
.product-chk-list {padding-top: 2rem;}
.product-chk-list > li {padding: 1.8rem 0 1.9rem; border-bottom: 0.1rem solid #e7e9ee;}
.product-chk-list .flex-wrap {align-items: stretch;}
.product-chk-list .flex-wrap .flex-cont {position: relative;}
.product-chk-list .btn-link-arrow {height: auto; flex: 0 0 3rem; background-position: right 50%;}
.product-chk-list .checkbox-wrap label {width: 100%;}

.list-txt-area .tit {margin-bottom: 0.4rem; font-size: 16px; font-weight: 500; color: #000;}
.list-txt-area .txt {font-size: 1.4rem; color: #000; line-height: 1.2;}
.product-join-wrap {}
.product-join-list {margin-top: 0.4rem; border-top: 0.1rem solid #e7e9ee;}
.product-join-list > li {padding: 1.4rem 2rem 1.4rem 0; border-bottom: 0.1rem solid #e7e9ee; font-size: 0; position: relative;}
.product-join-list .badge {margin-right: 0.4rem; display: inline-block; vertical-align: middle;}
.product-join-list .txt {font-size: 1.4rem; font-weight: 500; color: #000; display: inline-block; line-height: 2rem; vertical-align: middle;}
.product-join-list .btn-del {width: 1.6rem; height: 1.6rem; margin-top: -0.8rem; display: inline-block; background: url(../images/icon/ico-system-close-s.png) 50% 50% no-repeat; background-size: 100% auto; position: absolute; top: 50%; right:0;}

/* 상품상세(아이프레임) */
.product-detail-wrap {margin: 0 -2.4rem; min-height: 100%;}

/* 사랑의 서약서 */
.love-document-wrap {padding: 3rem 0;}
.love-document-wrap .love-document-cont {padding-top: 13.5rem; text-align: center; background: url(../images/icon/img-love-pet-docu.png) 50% 0 no-repeat; background-size: 10.3rem auto;}
.love-document-cont .tit {margin-bottom: 1.6rem; font-size: 2.2rem; font-weight: 500; line-height: 1.3; text-align: center; color: #000;}
.love-document-cont .txt {font-size: 1.4rem; text-align: center; color: #000;}
.love-document-cont .date {font-size: 1.4rem; margin-top: 1.6rem; color: #666;}
.love-document-wrap .love-document-bottom {margin-top: 5rem; display: flex; align-items: center; justify-content: center;}
.love-document-bottom [class^='icon-'] {flex: 1; padding-top: 3.7rem; font-size: 1.4rem; color: #666; font-weight: 700; line-height: 1.2; text-align: center;}
.love-document-bottom .icon-name {background: url(../images/icon/ico-love-pet.png) 50% 0 no-repeat; background-size: 3.2rem auto;}
.love-document-bottom .icon-pet {background: url(../images/icon/ico-love-sign.png) 50% 0 no-repeat; background-size: 3.2rem auto;}

/* 지점(직원)검색 */
.branch-result-wrap {padding: 0 2.4rem;}
.branch-result-wrap .accordion-list-wrap {margin-top: 0.8rem;}
/* .branch-result-wrap .accordion-list-wrap {width: calc(100% + 4.8rem); margin: 1.6rem -2.4rem 0;} */
/* .branch-result-wrap .accordion-list .top {padding: 2.4rem 4.8rem 2.4rem 2.4rem;} */
.branch-result-wrap .accordion-list .top:before {right: 2.4rem;}
/* .branch-result-wrap .accordion-list .con {padding: 1.6rem 2.4rem; background: #f9f9fb;} */
.check-list .checkbox-wrap label {display: flex;}
.check-list.align-justify .checkbox-wrap label {justify-content: space-between;}
.check-list .checkbox-wrap label > span {flex: 1; font-size: 1.4rem; color: #757575;}
.check-list .checkbox-wrap label > span.branch-txt {font-size: 1.6rem; color: #333;}
.check-list .checkbox-wrap label .staff-name {text-align: right; color: #333;}
.check-list .checkbox-wrap input:checked + label * {color: #009591; font-weight: 500;}
.check-list > li + li {margin-top: 1.2rem;}
.check-list > li.big-chk {font-size: 1.6rem; color: #333;}
.check-list > li.big-chk + li {margin-top: 1.6rem;}
.staff-list-wrap .line-check-list {margin: 0.8rem 0 0;}
.line-check-list .checkbox-wrap label {display: flex;}
.line-check-list.align-justify .checkbox-wrap label {justify-content: space-between;}
.line-check-list .checkbox-wrap label > span {flex: 1; font-size: 1.4rem; color: #757575;}
.line-check-list .checkbox-wrap label .staff-name {text-align: right; color: #333;}
.line-check-list .checkbox-wrap.sm label {padding: 2.4rem 0 2.4rem 2rem;}
.line-check-list .checkbox-wrap.sm label::before {top: 2.4rem; left: 0;}
.line-check-list .checkbox-wrap input:checked + label * {color: #009591; font-weight: 500;}
.line-check-list {border-top: 0.1rem solid #e7e9ee;}
.line-check-list > li {border-bottom: 0.1rem solid #e7e9ee;}
.line-check-list > li.big-chk {font-size: 1.6rem; color: #333;}
.line-check-list > li.big-chk + li {margin-top: 1.6rem;}

/* 본인확인(신분증) */
.id-card-wrap {padding-top: 33.5rem; background: url(../images/png/icon-id-card@3x.png) top 1.6rem right 3.4rem no-repeat; background-size: 17.5rem 25.4rem;}

.app-main.full-video {padding: 0;}
.app-main.full-video .container {width: 100%; height: 100%; padding: 0; overflow: hidden; position: fixed; -webkit-overflow-scrolling: auto;}
.app-main.full-video .container .video-area {width: 100%; height: 100vh; background: transparent;}
.app-main.full-video .container .video-layer-wrap {width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 10; color: #fff; display: flex; flex-direction: column; align-items: stretch; justify-content: space-between;}
.app-main.full-video .btn-close {width: 3.2rem; height: 3.2rem; background: url(../images/icon/ico-header-close-w@3x.png) right 0 top 50% no-repeat; background-size: 100% auto; font-size: 0; position: absolute; top: 1.2rem; right: 1.7rem; z-index: 1;}
.app-main.full-video .video-tit-wrap {padding: 8rem 2.5rem 4rem; text-align: center; background: url(../images/png/video-dim.png) 0 0 repeat; background-size: 10rem auto;}
.app-main.full-video .video-tit-wrap .video-tit {font-size: 2rem; font-weight: 500; line-height: 1.3;}
.app-main.full-video .video-tit-wrap .video-sub-tit {margin-top: 1rem; font-size: 1.6rem; font-weight: 400;}
.app-main.full-video .video-guide-area {width: 100%; height: 62.4vw; background: url(../images/png/video-area.png) 0 0 no-repeat; background-size: 100% auto; position: relative;}
.app-main.full-video .video-guide-area .video-guide-info {width: calc(100% - 12.8vw); height: 8.6vw; line-height: 8.6vw; border-radius: 0 0 4.8vw 4.8vw; background: rgba(0, 0, 0, 0.55); font-size: 1.2rem; color: #fff; text-align: center; position: absolute; bottom: 2.5vw; left: 6.4vw; z-index: -1;}
.video-layer-wrap .video-info-wrap {padding: 1.7rem 2.5rem 6rem; flex: 1; text-align: center; background: url(../images/png/video-dim.png) 0 0 repeat; background-size: 10rem auto; position: relative;}
.video-layer-wrap .video-info-wrap .txt {font-size: 1.4rem; font-weight: 400;}
.video-layer-wrap .video-info-wrap .btn-center-wrap {margin-top: 1.6rem;}
.video-layer-wrap .video-info-wrap .video-info-link {width: 100%; position: absolute; bottom: 4.8rem; left:0; z-index: 5; text-align: center;}
.video-layer-wrap .video-info-wrap .video-info-link .txt_underline {font-size: 1.3rem; color: #fff;}

/* 신분증 진위확인 실패 (상세 안내코드 토글) */
.code-info-wrap {margin-top: 2rem;}
.code-info-wrap .tg-text-cont {margin-top: 1.2rem;}

/* 본인확인(신분증) - 신분증 정보 확인 */
.id-photo-wrap {margin-top: 3rem;}
.id-photo-wrap .id-photo {width: 100%; overflow: hidden; border-radius: 2rem; font-size: 0;}
.id-photo img {width: 100%; height: auto;}
.id-photo-info {width: 100%; margin-top: 2rem; display: flex; align-items: center; justify-content: space-between;}
.id-photo-info .txt {flex: 1; word-break: keep-all; word-wrap: break-word; color: #333; font-size: 1.6rem;}
.id-photo-info .btn {margin-left: 2rem;}
.id-photo-wrap .page-tit-sub {margin-top: 2rem;}

/* 본인확인(신분증) - 신분증 확인페이지 */
.checking-wrap {margin-top: 4rem;}
.checking-wrap .checking-info-area {padding-top: 22rem; position: relative;}
.checking-wrap .checking-info-area.icon-mobile {padding-top: 20rem; background: url(../images/png/group-2-copy-13@3x.png) 50% 0 no-repeat; background-size: 12rem auto;}
.checking-wrap .checking-info-area.icon-video {background: url(../images/png/group-2-copy@3x.png) 50% 0 no-repeat; background-size: 12rem auto;}
.checking-wrap .checking-info-area .checking-txt-area {width: 100%; position: absolute; top: 13.6rem; left: 0; text-align: center;}
.checking-txt-area .tit {font-size: 1.6rem; font-weight: bold; color: #009591;}
.checking-txt-area .tit > * {font-weight: bold;}
.checking-txt-area .txt {margin-top: 0.1rem; font-size: 1.6rem; color: #666;}

/* 계좌정보 - 주택공급정책 자료 활용 동의 */
.form-area .checkbox-notice-wrap {margin-top: 0;}
.form-area.form-basic-wrap .checkbox-notice-wrap {margin-top: 4rem;}

/* 사업자등록증 촬영 */
.business-photo-wrap {margin-top: 1rem;}
.business-photo-wrap .business-photo-info .txt {font-size: 16px; font-weight: 500; color: #666; word-break: keep-all; word-wrap: break-word;}
.business-photo-cont {padding-top: 37.7rem; background: url(../images/png/bg_business-photo.png) top 3.2rem left 50% no-repeat; background-size: 23.4rem auto;}
.business-photo-cont .business-box {padding: 1.3rem; border-radius: 0.9rem; background: rgba(231, 233, 238, 0.5); text-align: center; color: #333; font-size: 1.4rem; font-weight: 500;}
.business-photo-wrap .dot-list  {margin-top: 2rem;}
.business-photo-wrap .id-photo {margin-top: 3rem;}

/* 얼굴인식 */
.popup-wrap.alert.face-popup .modal__container {width: 300px; height: 384px; margin-left: -150px; padding: 0; right: inherit; left: 50%; overflow: hidden;}
.popup-wrap.alert.face-popup .modal__btn--close {z-index: 110;}
.popup-wrap.alert.face-popup .modal__contents {padding: 0;}

.face-recognition-wrap {padding-top: 154px; text-align: center; position: relative; font-size: 0;}
.popup-wrap .face-recognition-wrap .toast-popup-wrap .toast-popup {margin-top: 90px;}
.content-area .face-recognition-wrap {padding-top: 9.2rem;}
.content-area .face-recognition-wrap .toast-popup-wrap {
    opacity: 0; position: absolute; top: 10rem; left: 50%; z-index: -1; transform: translateX(-50%);
    animation-name: toastPopup; animation-duration: 3s; animation-delay: 0.3s; animation-iteration-count: 1; animation-fill-mode: forwards;
}
.content-area .face-recognition-wrap .toast-popup-wrap .toast-popup {margin-top: 3rem;}

.face-recognition-wrap .face-icon {width: 9.8rem; height: 9.8rem; display: inline-block;}
.face-recognition-wrap .info-txt {margin-top: 1.6rem; font-size: 1.8rem; color: #666;}
.face-recognition-wrap .face-loading {background: url(../images/icon/icon_face_loading.svg) 0 0 no-repeat; background-size: 100% auto;}
.face-recognition-wrap .face-end {background: url(../images/icon/icon_face_end.png) 0 0 no-repeat; background-size: 100% auto;}
.face-recognition-wrap .face-guide {width: 11.4rem; height: 14rem; background: url(../images/png/face_line.png) 0 0 no-repeat; background-size: auto 14rem; display: inline-block;}

.face-progress .stepper {height: 3rem; padding: 0 1.6rem; position: absolute; top: 3.1rem; right: 0; z-index: 20;}
.face-progress .stepper > ul {display: flex; align-items: center; justify-content: flex-end;}
.face-progress .stepper > ul > li + li {margin-left: 0.4rem}
.face-progress .stepper .stepper__step {width: 1.6rem; height: 1.6rem; display: inline-block; font-size: 0; background: #009591; border-radius: 50%; text-align: center; font-family: 'roboto';}
.face-progress .stepper .stepper__step.on ~ .stepper__step {background: #666;}
.face-progress .stepper .stepper__step.on {width: 1.6rem; height: 1.6rem; line-height: 1; padding: 0.3rem 0.5rem; background: url(../images/icon/stepper-on.svg) 50% 50% #009591 no-repeat;}
