@charset "UTF-8";

/* ly-full 중앙정렬 */
/* .result-wrap {display: flex; align-items: center; flex-direction: column; justify-content: center; min-height: calc(100vh - 8.8rem); margin-top: -5.6rem; overflow-y: auto; padding: 5.6rem 0;} */
/* .result-wrap {display: flex; align-items: center; flex-direction: column; justify-content: center; min-height: calc(100vh - 8.8rem); overflow-y: auto; padding: 0 0 5.6rem;} */
.result-wrap {display: flex; align-items: center; flex-direction: column; justify-content: center; min-height: calc(100vh - 14.6rem); overflow-y: auto;}
.footer-none .result-wrap {min-height: 100vh;}


/* 결과 페이지 내 컨텐츠 */
.result-con {width: 100%; text-align: center;}
.result-con .title {padding-top: 13.6rem; font-size: 2.4rem; color: #171a1a; text-align: center; font-weight: 700; background: url(../images/error/complete@3x.png) center 0 no-repeat; background-size: 12rem 12rem; word-break: keep-all; word-wrap: break-word;}
.result-con.waiting .title {background: url(../images/error/notice@3x.png) center 0 no-repeat; background-size: 12rem 12rem;}
.result-con .title .tpb-green {display: block; font-size: 2.4rem;}
.result-con .text-sub {margin-top: 1.6rem; color: #7d8585; word-break: keep-all; word-wrap: break-word;}
.result-con .text-sub + .text-sub {margin-top: 0.4rem;}
.result-con .btn-wrap {margin-top: 3.2rem;}
.result-con.error .title {background: url(../images/error/Error@3x.png) center 0 no-repeat; background-size: 12rem 12rem;}

.result-con .lgreen-box-wrap {margin-top: 3rem; text-align: left;}
.result-con .id-list-wrap li {color: #00a5a0; font-weight: 600; text-align: center;}

.progress-bar-wrap + .confirm-wrap {padding-top: 3rem;}
.confirm-wrap .card-wrap {margin-top: 3.6rem;}

.result-accordion-wrap {margin-top: 0.8rem;}
.result-accordion-wrap + .btn-wrap {margin-top: 1.6rem;}

.result-con.waiting .title {background: url(../images/error/notice@3x.png) center 0 no-repeat; background-size: 12rem 12rem;}
.result-detail {margin-top: 4.8rem; width: 100%;}


/* security code */
.security-code-wrap {padding-top: 6.4rem;}
.security-title {font-size: 1.8rem; color: #171a1a; font-weight: 700; text-align: center;}
.security-code-wrap .tab-box-wrap {margin-top: 3rem;}
.security-code-wrap .tab-con {margin-top: 2.4rem;}
.security-code-wrap .lgreen-box-wrap {text-align: center;}
.security-code-wrap .lgreen-box-wrap .text {font-size: 1.8rem; color: #7d8585; font-weight: 600;}

.security-code-wrap .email-none {margin-top: 4rem; padding-top: 5.3rem; background: url(../images/icon/caution.svg) center 0 no-repeat; background-size: 3.2rem 3.2rem; text-align: center;}
.security-code-wrap .email-none .title {font-size: 1.8rem; color: #171a1a; font-weight: 700;}
.security-code-wrap .email-none .text {margin-top: 0.9rem; font-size: 1.5rem; color: #7d8585;}

.security-code-wrap .input-code-wrap {justify-content: center; margin-top: 2.9rem;}
.security-code-wrap .txt-code-error {display: none; margin-top: 1.3rem; color: #e31e5a; text-align: center;}
.security-code-wrap .input-code-wrap.error + .txt-code-error {display: block;}

.security-time-wrap .security-time {color: #00a5a0;}
.security-time-wrap .btn-reload {margin-top: 1.4rem;}


/* btn floating */
.btn-floating-wrap {position: relative;}
.btn-floating {position: fixed; left: 0; bottom: 11.1rem; bottom: calc(11.1rem + env(safe-area-inset-bottom)); bottom: calc(11.1rem + constant(safe-area-inset-bottom)); z-index: 2; width: 100%; text-align: center;}
.btn-floating-wrap .progress-bar-wrap {padding-top: 1.6rem;}
.btn-floating .btn.rd {box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.05);}


/* 아이디 찾기 */
.idpw-wrap .info-box-wrap {margin-top: 2.8rem;}


/* 시스템 공통 */
.lgreen-box-wrap.system .text {color: #7d8585;}
.lgreen-box-wrap.system .text + .text {margin-top: 1.3rem;}
.lgreen-box-wrap.system .time-title {color: #00a5a0; font-weight: 600;}
.lgreen-box-wrap.system .time-title + .time-text {margin-top: 1rem;}

.system-unit-list {margin-top: 3.7rem;}
.system-unit-list li {text-align: center;}
.system-unit-list li + li {margin-top: 1.2rem;}
.system-unit-list li a {display: inline-block; padding: 1.2rem 2rem 1.2rem 5.2rem; font-size: 1.5rem; color: #2f3333; font-weight: 600; border-radius: 2.3rem;}
.system-unit-list li:nth-child(1) a {background: #f7fafa url(../images/icon_menu/transfer.png) 1.6rem 0.8rem no-repeat; background-size: 3.2rem 3.2rem;}
.system-unit-list li:nth-child(2) a {background: #f7fafa url(../images/icon_menu/online_p.png) 1.6rem 0.8rem no-repeat; background-size: 3.2rem 3.2rem;}
.system-unit-list li:nth-child(3) a {background: #f7fafa url(../images/icon_menu/stop_cheque.png) 1.6rem 0.8rem no-repeat; background-size: 3.2rem 3.2rem;}


/* 이체 */
/* 내 계좌간 이체 */
.price-wrap {margin-top: 6.4rem; text-align: center;}
.price-wrap .text-error {display: none;}

.price-wrap.error .text-sub {display: none;}
.price-wrap.error .text-error {display: block;}
.price-wrap.error .currency-dollar,
.price-wrap.error .input-amount-alba,
.price-wrap.error .text-error {color: #e31e5a !important;}
.price-wrap.error .text-error {font-weight: normal;}

.currency-wrap {margin: 1.2rem 0; color: #d0d9d9; display: flex; justify-content: center;}
.currency-wrap.input:before {display: none;}
.currency-wrap.input {display: inline-block;}
.currency-wrap .input__element {height: 4.3rem; line-height: 4.3rem; padding: 0; font-size: 3.6rem; color:#d0d9d9; font-weight: 600; width:2.3rem; z-index: 0; flex: none; vertical-align: middle;}
.currency-wrap .input__element::placeholder {color: #d0d9d9; font-weight: 600;}

.currency-dollar {height: 4.3rem; line-height: 4.3rem; font-size: 3.6rem; font-weight: 600; display: inline-block; vertical-align: middle;}
.input-amount-alba:disabled {border-bottom:2px solid #000 !important;color:#000 !important;background-color:#fff;}

.currency-wrap .input__remove-button {display: inline-block; margin: 0 0 0 0.8rem; vertical-align: middle;}

.currency-wrap .currency-text {display: inline-block; font-size: 3.6rem; font-weight: 600;}

.currency-wrap.input--on {color: #171a1a;}
.currency-wrap.input--on .input-amount-alba {color: #171a1a;}
.currency-wrap.input--focus .input__element,
.currency-wrap.input--on .input__element {color: #171a1a;}
.currency-wrap.input--on .input__remove-button {display: inline-block;}

.currency-wrap .text-sub {margin-top: 1.2rem;}

.progress-bar-wrap + .page-tit {padding-top: 3rem;}
.my-accounts-wrap .page-tit + .card-wrap {margin-top: 1.3rem;}
.my-accounts-wrap .tab-box-wrap {margin-top: 1.6rem;}
.my-accounts-wrap .tab-con {margin-top: 2.4rem;}
.my-accounts-wrap .checkbox-wrap.box {margin-top: 2.4rem;}

.change-amount-wrap {text-align: center;}
.change-amount-wrap .currency {position: relative; padding: 6.4rem 0;}
.change-amount-wrap .currency + .currency::before {content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 1px; background-color: #edf2f2;}
.change-amount-wrap .currency + .currency::after {content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 3.2rem; margin-top: -1.5rem; background: url(../images/icon/deco_arrow.svg) center 0 no-repeat; background-size: 3.2rem 3.2rem;}
.change-amount-wrap .currency .amount {display: block; font-size: 3.6rem; color: #171a1a; font-weight: 600;}

/* - 1일 잔여 한도 안내 팝업 관련 버튼 추가 관련 스타일 */
.change-amount-wrap .currency + .currency {padding-bottom: 1.2rem;}


/* 메세지센터 */
.message-wrap.container {padding-top: 0;}
.message-wrap .card-wrap {margin-top: 3.2rem;}
.message-wrap .card-type1 .card dl {max-width: 100%;}
.message-wrap .btn-wrap {margin-top: 3.2rem;}
.message-wrap .data-none-wrap {height: calc(100vh - 11.7rem); display: flex; align-items: center; justify-content: center; margin-bottom: -5.6rem;}
.message-wrap .data-none-wrap .text {margin-top: -6.2rem; padding-top: 4.8rem; font-size: 1.8rem; color: #171a1a; font-weight: 700; text-align: center; background: url(../images/icon/caution.svg) center 0 no-repeat; background-size: 3.2rem 3.2rem;}

.message-wrap .tab .text i.notification {position: relative; font-size: 0;}
.message-wrap .tab .text i.notification::before {content: ''; display: block; position: absolute; right: -1rem; top: -1.5rem; width: 0.6rem; height: 0.6rem; border-radius: 50% 50%; background-color: #e31e5a;}

.message-detail-wrap .top .badge {font-size: 1.5rem; font-weight: 600; height: 3rem; line-height: 3rem; padding: 0.6rem 1.2rem; border-radius: 1.5rem; padding: 0 1.2rem;}
.message-detail-wrap .top .title {font-size: 2.4rem; color: #171a1a; font-weight: 700;}
.message-detail-wrap .top .badge + .title {margin-top: 0.5rem;}
.message-detail-wrap .con {margin-top: 3.2rem; padding-top: 3.2rem; border-top: 1px solid #edf2f2;} 

.message-wrap.event.container {padding-top: 1.6rem;}
.message-wrap.event .data-none-wrap {height: calc(100vh - 7.2rem);}
.message-wrap.event .card-wrap {margin-top: 0;}


/* 알림(알림함/메시지센터) */
.message-wrap .card-type1 {position: relative;}
.message-wrap .card-type1 .new {width: 0.6rem; height: 0.6rem; display: inline-block; border-radius: 50%; background: #e31e5a; overflow: hidden; font-size: 0; position: absolute; top: 1.2rem; right: 1.2rem;}
.message-wrap .card-type1 .card-box .tit {word-break: keep-all; word-wrap: break-word;}


/* 내계좌 */
.amount-wrap {display: flex; justify-content: space-between; position: relative;}
.amount-wrap .select-wrap .select-sm.type02 {background-position: 100% 0.4rem;}
.amount-wrap .select-wrap .select-sm.type02 span {font-size: 1.4rem; color: #7d8585; font-weight: 400;}
.amount-wrap .amount-price-wrap {margin-top: 0.5rem; display: flex; align-items: center;}
.amount-wrap .amount-price-wrap .price {font-size: 2.8rem; color: #171a1a; font-weight: 700;}
.amount-wrap .amount-price-wrap .icon-country {margin-left: 0.8rem;}
.detail .input-info-green {margin-top: 3.2rem;}
.detail .btn-group-flex {margin-top: 1.2rem;}

.link-check-view,
.link-check-view:hover,
.link-check-view:focus,
.link-check-view:active {font-size: 1.4rem; color: #2f3333; text-decoration: underline;}

.account-detail-wrap.container {padding-top: 0;}
.account-detail-wrap .top .title {font-size: 2.4rem; color: #171a1a; font-weight: 700;}
.account-detail-wrap .top .text-sub {margin-top: 0.4rem; font-size: 1.4rem; color: #7d8585;}
.account-detail-wrap .top .tag-dgray + .title {margin-top: 1.4rem;}
.account-detail-wrap .top .money {margin-top: 3.2rem; display: flex; justify-content: space-between;}
.account-detail-wrap .top .money .amount {font-size: 2.4rem; color: #171a1a; font-weight: 600;}
.account-detail-wrap .bottom {margin-top: 3.2rem; padding-top: 3.2rem; border-top: 1px solid #edf2f2;}
.account-detail-wrap .input-info-green {margin-top: 1.6rem;}

.img-cheque-wrap {margin-top: 1.6rem;}
.img-cheque-box {position: relative;}
.img-cheque-box .img-box {width: 100%; height: 18rem; border-radius: 1.2rem 1.2rem; display: flex; justify-content: center; align-items: center; overflow: hidden; background-color: #000}
.img-cheque-box .img-box .img-cheque {display: block; max-width: 100%; max-height: 100%;}
.img-cheque-box .cheque-view {display: block; width: 3.2rem; height: 3.2rem; position: absolute; right: 1.6rem; bottom: 1.6rem; background-color: #fff; border-radius: 0.8rem 0.8rem; text-align: center;}
.img-cheque-box .cheque-view img {margin-top: 0.8rem;}
.img-cheque-box + .img-cheque-box {margin-top: 1.2rem;}

.img-cheque-box.type02 .img-box {position: relative; height: auto; background-color: #fff; border: 1px solid #dfe6e6;}
.img-cheque-box.type02 .img-box .img-cheque {max-width: 100%; max-height: 100%; width: auto; height: auto;}
.img-cheque-box.type02 .img-box .top {position: absolute; left: 3%; top: 7%;}
.img-cheque-box.type02 .img-box .address {width: 60%;}
.img-cheque-box.type02 .img-box .address-bank {position: absolute; left: 12%; top: 53%; width: 80%;}
.img-cheque-box.type02 .img-box .num {position: absolute; left: 3%; top: 87%; display: flex; width: 100%;}
.img-cheque-box.type02 .img-box .num .transit {width: 17%;}
.img-cheque-box.type02 .img-box .num .institution {width: 24%;}
.img-cheque-box.type02 .img-box .num .account {width: 59%;}
.img-cheque-box.type02 .img-box p {font-size: 0.9rem; font-weight: 600; color: #2f3333; line-height: 1.2rem;}

.re-active-wrap {margin-top: 2.4rem; padding: 2.4rem 2rem; background-color: #f2fafa; text-align: center; border-radius: 0.8rem;}
.re-active-wrap .text {font-size: 1.5rem; color: #00a5a0; font-weight: 600;}
.re-active-wrap .btn-wrap {margin-top: 1.6rem;}


/* 카드 분실 신고/철회 */
.my-card-box {display: flex; justify-content: center;}
.my-card-box .inbox {padding: 2.4rem 2rem; width: 26rem; border: 1px solid #60bcb9; border-radius: 1.2rem 1.2rem; box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.05);}
.my-card-box .ly-right {text-align: right;}
.my-card-box .text-date {margin-top: 6.4rem;}
.my-card-box .text-date .text {display: block; font-size: 1.4rem; color: #7d8585;}
.my-card-box .text-date .date {display: block; font-size: 1.5rem; color: #2f3333; font-weight: 600;}
.my-card-box .card-num {margin-top: 3.2rem; font-size: 1.8rem; color: #171a1a; font-weight: 700;}
.my-card-box .logo-wrap {margin-top: 9rem; display: flex; justify-content: space-between; align-items: center;}
.my-card-box .logo-wrap .logo-hana{display: inline-block; width: 12rem; height: 1.8rem; vertical-align: middle;}
.my-card-box .logo-wrap .logo-hana img {display: inline-block; width: 100%; height: auto;}
.my-card-box .logo-wrap .img-iq-bi {display: inline-block; width: 3.2rem; height: 3.2rem;}
.my-card-box .logo-wrap .img-iq-bi img {display: inline-block; width: 100%; height: auto;}


/* 카드 활성화 */
.my-card-box.type02 {margin-top: 3.2rem;}
.my-card-box.type02 .inbox {width: auto; max-width: 33.5rem; padding: 2.4rem 2rem; background: url(../images/png/bi.png) 94% 1.6rem no-repeat; background-size: 3.2rem 3.2rem;}
.my-card-box.type02 .text {font-size: 1.8rem; color: #171a1a; font-weight: 600;}
.my-card-box.type02 .text-sub {margin-top: 0.4rem; font-size: 1.4rem; color: #9ca6a6;}
.my-card-box.type02 .card-num {margin-top: 3rem;}
.my-card-box.type02 .card-num .num {font-size: 2rem; color: #2f3333; font-weight: 600;}
.my-card-box.type02 .card-num .num img {vertical-align: middle;}
.my-card-box.type02 .card-num .num + .num {margin-left: 2.05rem;}
.my-card-box.type02 + .info-box-wrap {margin-top: 3.2rem;}


/* 계좌 해지 */
.account-cancel-wrap .form-area {margin-top: 3.2rem;}
.account-cancel-wrap .tab-con .form-area {margin-top: 2.4rem;}
.account-cancel-wrap .info-box-wrap {margin-top: 3.2rem;}


/* 수표보기 */
.cheque-view-wrap .slider { width: 100%;}
.cheque-view-wrap .slider-for {width: 100%; height: 75vh;}
.cheque-view-wrap .slider-for .slick-slide > div {height: 75vh; text-align: center;}
.cheque-view-wrap .slider-for img {display: inline-block !important; height: 100%; width: auto !important; max-width: 100%; border-radius: 0.8rem 0.8rem; overflow: hidden;}

.cheque-view-wrap .slider-nav {margin-top: 2.4rem;}
.cheque-view-wrap .slider-nav .slick-track {display: flex; justify-content: center; width: auto !important; transform: translate3d(0px, 0px, 0px) !important;}
.cheque-view-wrap .slider-nav .slick-slide {width: 4.6rem !important; height: 4.6rem !important;}
.cheque-view-wrap .slider-nav .slick-slide + .slick-slide {margin-left: 0.8rem;}

.cheque-view-wrap .img-box {width: 100%; height: 58.8rem;}
.cheque-view-wrap .img-box-sm {width: 4.6rem; height: 4.6rem; border-radius: 0.8rem 0.8rem; opacity: 0.8; overflow: hidden;}
.cheque-view-wrap .img-box-sm img {display: block; width: 100%; height: 100%;}
.cheque-view-wrap .slick-active .img-box-sm {opacity: 1; border: 2px solid #60bdba;}
.cheque-view-wrap .slick-slider {-ms-touch-action: auto; touch-action: auto;}

.btn-close-cheque {width: 5.6rem; height: 5.6rem; font-size: 0; position: absolute; top: 0; right: 0; z-index: 1; background : url(../images/icon/close_btn_round.svg) right 1.6rem  top 1.6rem no-repeat;}


/* 설정 */
.menu-list-wrap .list {position: relative;}
.menu-list-wrap .list + .list::before {content: ''; display: block; width: calc(100% + 2rem); position: absolute; left: 0; top: 0; border-top: 1px solid #f7fafa;}
.menu-list-wrap .list a {position: relative; display: block; padding: 2.5rem 0; font-size: 1.8rem; color: #2f3333; font-weight: 600; background: url(../images/icon/chevron_next.svg) right center no-repeat; background-size: 2rem 2rem;}
.menu-list-wrap .text-lang {position: absolute; right: 3.6rem; top: 2.7rem; color: #00a5a0;}

.personal-agree-wrap {margin-top: 3rem; display: flex; justify-content: space-between; align-items: center;}
.personal-agree-wrap .radio-list {display: flex;}
.personal-agree-wrap .radio-list .radio-wrap + .radio-wrap {margin-left: 2rem;}

.menu-list-text + .menu-list-wrap {margin-top: 2rem;}

.asswitch-list-wrap .asswitch-top {display: flex; justify-content: space-between; align-items: center; padding: 2.4rem 2rem; background-color: #f7fafa; border-radius: 0.8rem 0.8rem;}
.asswitch-list-wrap .asswitch-top .box {display: flex;}
.asswitch-list-wrap .asswitch-top i[class^="icon-country"] {vertical-align: middle; margin-right: 1.2rem;}
.asswitch-list-wrap .asswitch-top .text-wrap .title {font-size: 1.8rem; color: #2f3333; font-weight: 600;}

.asswitch-list-wrap .asswich-box {display: none; padding-bottom: 2.4rem;}
.asswitch-list-wrap .asswich-box .form-area {margin-top: 2.4rem;}
.asswitch-list-wrap + .asswitch-list-wrap {margin-top: 0.8rem;}

.bio-wrap {display: flex; justify-content: space-between; align-items: center;}
.bio-wrap .title {font-size: 1.8rem; color: #171a1a; font-weight: 700;}
.bio-wrap .text-sub {margin-top: 1.3rem;} 
.bio-wrap .asswitch {min-width: 13rem; text-align: right;}


/* 환율조회 */
.exchange-rate-wrap .top {padding: 2.4rem 2rem; background-color: #f7fafa;}
.exchange-rate-wrap .top .title {font-size: 1.4rem; color: #7d8585;}
.exchange-rate-wrap .select-wrap {margin-top: 0.8rem;}
.exchange-rate-wrap .top .price {font-size: 1.8rem; color: #2f3333; font-weight: 600;}
.exchange-rate-wrap .top .box {position: relative; background-color: #fff; border-radius: 1.2rem; box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.05);}
.exchange-rate-wrap .top .box .inbox {display: flex; justify-content: space-between;  align-items: flex-end;}
.exchange-rate-wrap .top .ly-l {flex: 1;}
.exchange-rate-wrap .top .ly-r {flex: 2;}
.exchange-rate-wrap .top .price input {padding: 0; font-size: 1.8rem; font-weight: 600; text-align: right;}
.exchange-rate-wrap .top .price input::placeholder {display: block;}
.exchange-rate-wrap .top .price .input::before {display: none;}
.exchange-rate-wrap .top .price .input__remove-button {margin: 0 0 0 1.2rem;}

.exchange-rate-wrap .top .box .inbox:nth-child(1) {padding: 2.4rem 2rem 4rem;}
.exchange-rate-wrap .top .box .inbox:nth-child(2) {padding: 3rem 2rem 2.4rem; border-top: 1px solid #f7fafa;}

.exchange-rate-wrap .cont-top-wrap {margin-top: 2.4rem;}
.exchange-rate-wrap .top-right {font-size: 1.5rem; font-weight: 600; color: #7d8585;}

.exchange-rate-wrap .select-wrap.btn-type {position: absolute; left: 50%; top: 10rem; margin-left: -6.7rem;}
.text-sub-exchange {display: flex; justify-content: space-between;}
.text-sub-exchange p {font-size: 1.5rem; color: #7d8585;}
.text-sub-exchange + .tbl-wrap {margin-top: 1.6rem;}


/* 다른 은행 계좌 연결 */
.another-bank-wrap .inbox {margin-top: 3.2rem;}
.another-bank-wrap .info-box-wrap {margin-top: 3.2rem;}
.another-bank-wrap .no-data-wrap {height: 17.2rem; margin-top: 3.2rem;}
.another-bank-wrap .cont-top-wrap .top-left,
.another-bank-wrap .cont-top-wrap .top-right {flex: auto;}
.another-bank-wrap .checkbox-wrap.box {margin-top: 2.4rem;}
.another-bank-wrap .sample-img img {width: 100%; height: auto; border-radius: 1.2rem 1.2rem; border: 1px solid #dfe6e6;}
.another-bank-wrap .sample-img + .dot-list.type02 {margin-top: 3.2rem;}
.another-bank-wrap .sample-img + .num-color-list {margin-top: 3.2rem;}


/* 결재/승인 */
.approval-check-wrap .tab-con {padding-top: 3.2rem;}
.approval-check-wrap .result-con {margin-top: 4.2rem;}
.approval-check-wrap .result-con.error {margin-top: 7.5rem;}

.accordion-check-list li + li {margin-top: 0.8rem;}
.accordion-check-list .top {display: flex; justify-content: space-between; padding: 1.5rem 2rem; background-color: #f7fafa; border-radius: 0.8rem 0.8rem;}
.accordion-check-list .top .chk-all +  label {font-weight: 600;}
.accordion-check-list .icon-arrow {display: inline-block; width: 2rem; height: 2rem; background: url(../images/icon/dropdown_close.svg) 0 0 no-repeat; background-size: 2rem 2rem; transform: rotate(180deg);}
.accordion-check-list .chk-all-area.on .icon-arrow {transform: rotate(0);}

.accordion-check-list .con {padding: 1.6rem 2.2rem 2.4rem; display: none;}
.accordion-check-list .con .checkbox-wrap +.checkbox-wrap {margin-top: 1.8rem;}

.approval-list .list {position: relative; display: flex; margin-top: 2.4rem; padding-top: 2.4rem;}
.approval-list .list::before {content: ''; display: block; position: absolute; left: 9.6rem; top: 0; width: calc(100% - 7.6rem); border-top: 1px solid #f7fafa;}
.approval-list li:first-child .list::before {display: none;}
.approval-list .status-chk {width: 7.2rem; height: 8.8rem; display: flex; align-items: center; justify-content: center; flex-direction: column; font-size: 1.4rem; font-weight: 600; border-radius: 0.8rem 0.8rem;}
.approval-list .status-chk.type01 {background-color: #f7fafa; color: #7d8585; }
.approval-list .status-chk.type02 {background-color: #fff; color: #00a5a0; border: 1px solid #31bfba;}
.approval-list .status-chk.type03 {background-color: #fff; border: 1px solid #e0e6e6;}
.status-chk .icon-chk {display: block; width: 2.4rem; height: 2.4rem; background: url(../images/icon/check_gray.svg) 0 0 no-repeat; background-size: 2.4rem 2.4rem;}
.status-chk.type02 .icon-chk {background: url(../images/icon/check.svg) 0 0 no-repeat; background-size: 2.4rem 2.4rem;}
.approval-list .text-wrap {margin-left: 2.4rem; display: flex; justify-content: center; flex-direction: column;}
.approval-list .text-wrap .name {font-size: 1.8rem; color: #171a1a; font-weight: 600;}
.approval-list .status-chk.type01 + .text-wrap .name {color: #7d8585;}
.approval-list .text-wrap .name .badge {vertical-align: middle; margin-left: 0.4rem;}
.approval-list .text-wrap .date {margin-top: 0.9rem; font-size: 1.5rem; color: #7d8585;}
.approval-list .text-wrap .date + .date {margin-top: 0.5rem;}


/* 공지사항 FAQ */
.mg-select {margin: -2rem 0 1.6rem 0;}
.notice-view-wrap .title {font-size: 2.4rem; color: #171a1a; font-weight: 700;}
.notice-view-wrap .date {margin-top: 0.5rem;}
.notice-view-wrap .con {margin-top: 3.2rem; padding-top: 3.2rem; border-top: 1px solid #edf2f2;}
.notice-view-wrap .con {font-size: 1.5rem; color: #7d8585;}
.notice-view-wrap .con .text + .text {margin-top: 2.4rem;}


/* 연락처 */
.address-wrap .card-type1 {padding-right: 10rem;}
.address-wrap .card-type1 + .card-type1 {margin-top: 1.2rem;}
.address-wrap .title {font-size: 1.5rem; color: #00a5a0; font-weight: 600;}
.address-wrap .text {margin-top: 0.5rem; font-size: 1.8rem; color: #171a1a; font-weight: 600;}
.address-wrap .text-sub {margin-top: 1.3rem; font-size: 1.4rem; color: #7d8585;}
.address-wrap .card-type1:nth-child(1) {background: url(../images/png/email.png) no-repeat right 1.6rem bottom 2.4rem; background-size: 7.2rem 7.2rem;}
.address-wrap .card-type1:nth-child(2) {background: url(../images/png/address.png) no-repeat right 1.6rem bottom 2.4rem; background-size: 7.2rem 7.2rem;}
.address-wrap .card-type1:nth-child(3) {background: url(../images/png/location.png) no-repeat right 1.6rem bottom 1.5rem; background-size: 7.2rem 7.2rem;}

.address-wrap .card-type1 .arrow {display: inline-block; margin-top: 1.3rem; padding-right: 2rem; font-size: 1.8rem; color: #171a1a; font-weight: 600; background: url(../images/icon/chevron_next2.svg) right center no-repeat; background-size: 2rem 2rem;}


/* 비밀번호 show hide */
.password-wrap .page-tit {margin-top: 5.9rem; text-align: center;}
.password-wrap .password-show {margin-top: 3.2rem;}
.btn-show {width: 2rem; height: 2rem; display: inline-block; font-size: 0; background: url(../images/icon/psw_view_outline.svg) 0 0 no-repeat; background-size: 2rem auto; margin: 1.2rem 0 0 1.2rem;}
.btn-show.is-active {background: url(../images/icon/psw_view_outline_none.svg) 0 0 no-repeat; background-size: 2rem auto;}


/* 약관, 법적안내 */
.agree-terms-wrap * {word-break: keep-all; word-wrap: break-word;}
.agree-terms-wrap .title {margin-top: 4rem; font-size: 2rem; color: #171a1a; font-weight: 700;}
.agree-terms-wrap .title:first-child {margin-top: 0;}
.agree-terms-wrap .text {margin-top: 2.4rem;}
.agree-terms-wrap .title + .text {margin-top: 1.6rem;}
.agree-terms-wrap strong {font-weight: 600;}     
.agree-terms-wrap .link {color: #00a5a0; text-decoration: underline;}

.agree-terms-wrap .title-type02 {margin-top: 3.2rem; font-size: 1.8rem; color: #171a1a; font-weight: 700;}
.agree-terms-wrap .title + .title-type02 {margin-top: 2.4rem;}

.agree-terms-wrap .title-type03 {margin-top: 2.4rem; font-size: 1.6rem; color: #171a1a; font-weight: 600;}
.agree-terms-wrap .bar-list {margin-top: 1.6rem;}
.agree-terms-wrap .bar-list > li {margin-top: 1.2rem;}
.agree-terms-wrap .text.type03 {font-size: 1.5rem;}
.agree-terms-wrap .text.type03 + .text.type03 {margin-top: 1.2rem;}

.agree-terms-wrap .dot-list.type03 {margin-top: 1.6rem;}
.agree-terms-wrap .bul-num-wrap > li {font-size: 1.6rem; color: #5e6666; font-weight: normal;}
.agree-terms-wrap .bul-num-wrap > li + li {margin-top: 2.4rem;}

.agree-terms-tag {display: inline-block; padding: 0 1.2rem; height: 3rem; line-height: 2.9rem; font-size: 1.5rem; color: #fff; text-align: center; background-color: #9ca6a6; border-radius: 1.5rem 1.5rem;}
.agree-terms-wrap .lgreen-box-wrap {margin-top: 3.2rem;}
.agree-terms-wrap .lgreen-box-wrap .title {margin-top: 2.4rem; font-size: 1.5rem; color: #7d8585; font-weight: 700;}
.agree-terms-wrap .lgreen-box-wrap .text {margin-top: 0.8rem; font-size: 1.5rem; color: #7d8585;} 
.agree-terms-wrap .lgreen-box-wrap + .lgreen-box-wrap {margin-top: 1.2rem;}

.img-cdic-wrap {margin: 5.6rem 0; text-align: center;}
.img-cdic-wrap img {display: inline-block; width: 18.2rem; height: 6.6rem;}

.bul-square {position: relative; padding-left: 1.6rem;}
.bul-square::before {content: ''; width: 1rem; height: 1rem; display: inline-block; position: absolute; top: 0.9rem; left: 0; background: #171a1a; border-radius: 0.2rem 0.2rem;}


/* interac */
.no-interac-wrap {padding-top: 4.8rem; text-align: center; background: url(../images/icon/caution.svg) center 0 no-repeat; background-size: 3.2rem 3.2rem;}
.no-interac-wrap .title {font-size: 1.8rem; color: #171a1a; font-weight: 700;}
.no-interac-wrap .text-sub {margin-top: 0.9rem; font-size: 1.5rem; color: #7d8585;}
.no-interac-wrap .btn-wrap {margin-top: 3.2rem;}



/* ******************* 공통 ******************* */

/* 
.card-type5 .card-list dl {width: 100%; display: flex; align-items: center; }
.card-type5 .card-list dl + dl {margin-top: 0.1rem;}
.card-type5 .card-list dl > dt {flex: 1; font-size: 1.4rem; color: #7d8585;}
.card-type5 .card-list dl > dd {flex: 1; font-size: 1.4rem; color: #7d8585; text-align: right;}
.card-type5 .card-list dl > dd i {width: 2rem; height: 2rem; margin-left: 0.1rem;}
.card-type5 .card-list .txt-date {font-size: 1.2rem; color: #9ca6a6;}
.card-type5 .card-list .tit {font-size: 1.5rem; font-weight: 600; color: #2f3333;}
.card-type5 .card-list .price {font-size: 1.8rem; font-weight: 600; color: #171a1a;}
.card-type5 .card-list .sub-price {font-size: 1.4rem;}
.card-type5 .card-list .txt-line {font-size: 1.4rem; color: #2f3333; text-decoration: underline;} */

