@charset "UTF-8";

.ck-next-box {display: none;}
.form-show {display: block;}
.form-hide {display: none;}

/* info */
.info-wrap {margin-top: 1.6rem;}
.info-wrap + .page-tit-sub {margin-top: 4rem;}

/* 예금 */
.account-num-wrap {display: flex; align-items: center;}
.new-password-wrap {margin-top: 2rem;}
.new-password-wrap .checkbox-wrap label {font-size: 1.6rem; font-weight: 400;}
.new-password-wrap .checkbox-wrap .text-sub {display: block; margin-top: 0.4rem; padding-left: 2.8rem; font-size: 1.4rem;}

.new-password-wrap .chk-tg .chk-tg-cont {margin-left: 2.4rem; padding-top: 0;}
.new-password-wrap .chk-tg-cont .form-area {margin-top: 2rem;}
.new-password-wrap .tg-text {margin-top: 1.6rem;}

/* 전자금융 */
.select-result-box {padding: 1.6rem 0; border-bottom: 1px solid #e7e9ee;}
.select-result-box .title {color: #333; font-weight: 500;}
.select-result-box .sub-text {color: #666; font-weight: 500;}

.select-result-box + .form-underbtn-wrap {margin-top: 0.8rem;}

.account-ck-wrap {margin: 3rem 0;}
.account-ck-wrap .checkbox-wrap.all label {font-size: 1.8rem;}
.account-ck-wrap .list-line-wrap {margin-top: 1.6rem; border-top: 1px solid #e7e9ee;}

.account-ck-wrap .checkbox-wrap.sm label {color: #666;}
.account-ck-wrap .checkbox-wrap.sm input:checked + label .account-num-wrap {color: #666;}

.checkbox-notice-wrap {margin-top: 4rem;}
.checkbox-notice-wrap .input__guide-txt {margin: 1.6rem 0 0 0;}

/* 본인인증 */
.title-under-wrap {margin-top: 1rem;  overflow: hidden;}
.title-under-wrap .bank-account-wrap {margin-top: 0.6rem;}
.title-under-wrap .text {font-weight: 500;}

.bank-account-wrap {display: flex; align-items: center;}
.bank-account-wrap .bank {margin-left: 0.8rem; font-size: 1.8rem; color: #000;}
.bank-account-wrap .num {margin-left: 0.6rem; color: #757575;}
.icon-bank {width: 2.4rem; height: 2.4rem; display: inline-block; font-size: 0; vertical-align: middle;}
.icon-bank img {display: block; width: 100%; height: auto;}

.bank-account-box {display: flex; align-items: center;}
.bank-account-box .bank {margin-left: 0.6rem; font-size: 1.6rem; color: #333;}
.bank-account-box .num {margin-left: 0.6rem; font-size: 1.4rem; color: #999;}
.bank-account-box .icon-bank {width: 2rem; height: 2rem;}

.bank-list-wrap {display: flex; flex-wrap: wrap; margin: 0.8rem 0 2rem -3.2%; padding: 0 2.4rem; }
.bank-list-wrap li {margin-top: 1.2rem; padding-left: 3.2%; width: 33.33333%; height: 8.4rem; display: flex; justify-content: center; } 
.bank-list-wrap li .btn-bank {padding: 0 0.8rem; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; background-color: #fbfcfc; border-radius: 1.4rem 1.4rem;}
.bank-list-wrap li .btn-bank img {margin-top: 1.5rem; display: block; width: 2.4rem; height: 2.4rem;}
.bank-list-wrap li .btn-bank .text {display: flex; align-items: center; height: 100%; font-size: 1.3rem; color: #000; font-weight: 500;}

.code-wrap {display: flex !important; justify-content: center;}
.code-wrap .input__wrap {display: block; margin: 0 1rem 0; width: 3rem;}
.code-wrap .input__wrap .input .input__inner .input__element {text-align: center; font-size: 2.4rem; font-weight: 700;}
.code-wrap .input__wrap .input:before {border-bottom: 1px solid #333;}
.code-wrap .input__wrap .input--focus:before {border-bottom: 1px solid #30bfba;}

.text-arrow {padding: 2.2rem 0 5.6rem; color: #333; background: url(../images/icon/expand-less@3x.png) center bottom 1.6rem no-repeat; background-size: 2.6rem 1.6rem;}

.text-arrow .bul-star-list {margin-top: 1.6rem;}
.text-arrow .bul-star {margin-top: 0.6rem; font-size: 1.3rem;}

/* 결과페이지 */
.result-wrap {margin-top: 4rem; text-align: center;}
.step-header + .container .result-wrap {margin-top: 2.1rem;}
.result-wrap .title {font-size: 2.2rem; color: #000; font-weight: 500;}
.result-wrap .title.error {padding-top: 6.4rem; background: url(../images/error/icon_no-data.gif) center 0 no-repeat; background-size: 4.8rem 4.8rem;}
.result-wrap .title.complete {padding-top: 6.4rem; background: url(../images/error/icon_check.gif) center 0 no-repeat; background-size: 4.8rem 4.8rem;}
.result-wrap .title.ci-hana {margin-top: 4rem; padding-top: 5rem; background: url(../images/ci/group-20@3x.png) center 0 no-repeat; background-size: 9.7rem 2.6rem;}
.result-wrap .text {margin-top: 1.6rem; color: #333;}
.result-wrap .text-sm {font-size: 1.4rem;}
.result-wrap .text + .text-box{margin-top: 3.2rem;}
.result-wrap .text-box {margin-top: 4rem; padding: 2.4rem 0; border-top: 1px solid #e7e9ee; border-bottom: 1px solid #e7e9ee;}
.result-wrap .text-box .text {margin-top: 0;}
.result-wrap .text-box .text + .text-sm {margin-top: 0.8rem;}
.result-wrap .text-box .bul-star {display: inline-block; margin-top: 1.6rem; color: #666;}
.result-wrap .btn {margin-top: 1.6rem;}
.popup-wrap.alert .result-wrap {margin-top: 2.6rem;}

/* 이어하기 */
.product-join-detail {margin-top: 4rem;}
.product-join-detail .card-box .date {font-size: 1.4rem; color: #999;}
.product-join-detail .card-box .text-wrap {margin-top: 2rem; display: flex; align-items: center;}
.product-join-detail .card-box .text-wrap + .text-wrap {margin-top: 1rem;}
.product-join-detail .card-box .text {margin-left: 0.4rem; color: #333;}
.product-join-detail .card-box .btn-r-wrap {margin-top: 3rem;}

/* intro 계좌 개설 절차 */
.intro-start-wrap {padding: 0 2.4rem;}
.intro-title {margin-top: 2.4rem; font-size: 2rem; color: #000; font-weight: 500;}
.intro-step-list {margin-top: 4rem;}
.intro-step-list li {position: relative;  font-size: 1.6rem; color: #000; font-weight: 500; display: flex; align-items: center; opacity: 0; padding-bottom: 3.2rem;}
.intro-step-list li::before {content: ''; display: block; position: absolute; left: 1.2rem; top: 2.4rem; width: 0.1rem; height: 3.2rem; border-left: 1px dotted #b3b3b3;}
.intro-step-list li:last-child::before {display: none;}
.intro-step-list .num {display: block; margin-right: 1.6rem; width: 2.4rem; height: 2.4rem; line-height: 2.4rem; font-size: 1.3rem; color: #fff; font-weight: 500; text-align: center; background-color: #262b45; border-radius: 50% 50%;}

.intro-start-wrap.on .intro-step-list li:nth-child(1){opacity: 1; transition: all 0.4s 0.25s; transition-timing-function: ease-out;}
.intro-start-wrap.on .intro-step-list li:nth-child(2){opacity: 1; transition: all 0.4s 0.5s; transition-timing-function: ease-out;}
.intro-start-wrap.on .intro-step-list li:nth-child(3){opacity: 1; transition: all 0.4s 0.75s; transition-timing-function: ease-out;}
.intro-start-wrap.on .intro-step-list li:nth-child(4){opacity: 1; transition: all 0.4s 1s; transition-timing-function: ease-out;}
.intro-start-wrap.on .intro-step-list li:nth-child(5){opacity: 1; transition: all 0.4s 1.25s; transition-timing-function: ease-out;}

/* 
:is(.list01, .list02, .list03, .list04, .list05) {   
    animation: intro-animation 1s ease-out;
    animation-fill-mode: forwards;
  }

  .list01 {
    animation-delay: 0.25s;
  }
  
  .list02 {
    animation-delay: 0.5s;
  }
  
  .list03 {
    animation-delay: 0.75s;
  }
  
  .list04 {
    animation-delay: 1s;
  }
  .list05 {
    animation-delay: 1.25s;
  }
  

  @keyframes intro-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
   */

/* 서비스 가이드 */
.service-guide-wrap .tab-list .tab .text span {letter-spacing: -0.1rem;}
.service-guide-wrap .tab-con {margin-top: 1.6rem; padding: 0 2.4rem;}
.service-guide-wrap .tab-con .accordion-list .con .inbox .text {color: #393939;}
.service-guide-wrap .tab-con .accordion-list .con .inbox .text + .text {margin-top: 1rem;}
.service-guide-wrap .tab-con .accordion-list .con .inbox .text + .dot-list3 {margin-top: 1.6rem;}
.service-guide-wrap .caution-list {margin-left: 0.8rem;}
.service-guide-wrap .caution-list > li {margin-top: 1rem; padding-left: 1.7rem;}
.service-guide-wrap .caution-list > li::before {margin-right: 0;}
.service-guide-wrap .bul-star-list {margin-left: 0.8rem;}
.service-guide-wrap .bul-star-list li {margin-top: 1rem;}
.service-guide-wrap .bul-star {margin-top: 1rem;}

/* 신청, 승인완료 */
.complete-step-wrap .title-complete {padding-top: 6.4rem; background: url(../images/error/icon_check.gif) center 0 no-repeat; background-size: 4.8rem 4.8rem; font-size: 2.2rem; color: #000; text-align: center; font-weight: 500;}
.complete-step-wrap .title-error {padding-top: 6.4rem; background: url(../images/error/icon_no-data.gif) center 0 no-repeat; background-size: 4.8rem 4.8rem; font-size: 2.2rem; color: #000; text-align: center; font-weight: 500;}
.complete-step-wrap .tg-text {margin-top: 4rem;}
.complete-step-wrap .tg-text-cont {margin-bottom: 2.4rem;}
.complete-step-wrap .tg-btn {text-align: center;}
.complete-step-wrap .tg-btn .on {display: none;}
.complete-step-wrap .tg-btn .off {display: inline-block;}
.complete-step-wrap .tg-btn.tg--on .on {display: inline-block;}
.complete-step-wrap .tg-btn.tg--on .off {display: none;}
.complete-step-wrap .dot-list3 {margin-top: 4rem;}
.complete-step-wrap .card-box {margin-top: 4rem;}
/*.complete-step-wrap .card-box .list-wrap {padding: 0;}*/

.complete-list-wrap {border-top: 1px solid #e7e9ee;}

.complete-step-wrap .list-wrap.type02 dl {align-items: center;}
.complete-list-wrap .list-wrap.type03 .text-sub {margin-top: 1.4rem; font-size: 1.4rem; color: #757575;}
.complete-list-wrap .list-wrap.type03 .badge {margin-left: 0.4rem;}

.badge.red {color: #fff; background-color: #e53a4c; border-radius: 1rem; line-height: 1.9rem; vertical-align: top;}

.stepper-wrap {margin-top: 2rem; display: flex; justify-content: center;}
.stepper-wrap .step {position: relative; padding-left: 1.6rem; text-align: center; font-size: 0;}
.stepper-wrap .step::before {content: ''; display: block; position: absolute; left: -0.4rem; top: 0.6rem; z-index: -1; width: 2.5rem; height: auto; border-top: 2px dotted #929292;}
.stepper-wrap .step.text-long {padding-left: 0.6rem;}
.stepper-wrap .step .dot {position: relative; display: inline-block; width: 1.4rem; height: 1.4rem;}
.stepper-wrap .step .dot::before {content: ''; display: block; position: absolute; left: 50%; top: 0; margin-left: -0.7rem; width: 1.4rem; height: 1.4rem; background-color: #929292; border-radius: 50% 50%;}

.stepper-wrap .step.end::before {border-top: 2px solid #262b45;}
.stepper-wrap .step.ing::before {border-top: 2px solid #262b45;}
.stepper-wrap .step.end .dot::before {background-color: #262b45;}
.stepper-wrap .step.ing .dot::before {background-color: #262b45;}
.stepper-wrap .step.ing .dot::after {content: ''; display: block; position: absolute; left: 0.3rem; top: 0.3rem; width: 0.8rem; height: 0.8rem; background-color: #fff; border-radius: 50% 50%;}

.stepper-wrap .step .text {display: block; padding-top: 0.4rem; font-size: 1.2rem; color: #333; font-weight: 500;}

.complete-step.toast-popup-wrap {
    opacity: 0; position: absolute; top: 10rem; left: 50%; z-index: 0; transform: translateX(-50%);
    animation-name: toastPopup; animation-duration: 3s; animation-delay: 0.3s; animation-iteration-count: 1; animation-fill-mode: forwards;
}
.complete-step.toast-popup-wrap .txt {font-size: 1.4rem;}

.stepper-wrap .step:first-child::before {border-top: none;}

.banner-stock-wrap .icon-wrap {display: flex;}
.banner-stock-wrap .text-wrap {padding-left: 0.6rem;}
.banner-stock-wrap .stock-name .name {margin-left: 0.6rem;}
.banner-stock-wrap .icon-bank {width: 2rem; height: 2rem;}
.banner-stock-wrap .text-wrap * {color: #333;}
.banner-stock-wrap .btn-r-wrap {margin-top: 2.4rem;}
/* .banner-stock-wrap .text-wrap .text-sub {font-size: 1.4rem; color: #666;} */
.text-line-wrap {margin-top: 4rem; padding: 1.9rem 0; border-top: 1px solid #e7e9ee; border-bottom: 1px solid #e7e9ee; color: #333; text-align: center;}

.banner-card-wrap .inbox {display: flex;}
.banner-card-wrap .icon-bank {width: 4rem; height: 6.3rem; margin-right: 2.4rem;}
.banner-card-wrap .text {color: #333;}
.banner-card-wrap .btn-text-arrow {margin-top: 0.8rem;}

/* 신청내용 확인 */
.edit-con-wrap {margin-top: 4rem;}
.edit-con-wrap .accordion-list {border-top: 1px solid #e7e9ee;}
.edit-con-wrap .con .inbox .list-wrap {padding: 0; border-bottom: none;} 

.edit-con-wrap .accordion-list .checkbox-wrap {margin-top: 2.4rem;}
.edit-con-wrap .accordion-list .btn-center-wrap {margin-top: 1.6rem;}

/* 주택청약종합저축 */
.use-coupon-wrap .list-wrap.type01 {padding: 2.4rem 0 1.4rem;}
.use-coupon-wrap .list-wrap.type01 .point dd {font-size: 1.7rem;}
.use-coupon-wrap .list-wrap.type01 dl + dl {margin-top: 0.7rem;}

/* loding */
.loding-wrap {margin-top: 6.8rem; text-align: center;}
.loding-wrap .title {font-size: 2rem; color: #000; font-weight: 500;}
.loding-img-wrap {width: 8rem; height: 8rem; margin: 5.6rem auto 0;}

/* 이용안내 title */
.info-title {margin-top: 4rem; font-size: 1.4rem; color: #333;}
.info-title + .dot-list {margin-top: 1rem;}

/* 준비물 안내 */
.img-ci {display: inline-block; width: 7.6rem; height: 2rem; vertical-align: middle;}
/* .user-guide-wrap.app-main {
    padding-top: calc(3rem); 
    padding-top: calc(3rem + constant(safe-area-inset-top)); 
    padding-top: calc(3rem + env(safe-area-inset-top)); 
} */
.user-guide-wrap .container {padding: 0 2.4rem;}
/*
.user-guide-wrap .ci-wrap {text-align: center;}
.user-guide-wrap .ci-wrap img {display: inline-block; width: 7.5rem; height: 2rem;}
*/
.user-guide-title {padding-top: 3.2rem; font-size: 2.2rem; color: #000; font-weight: 500; text-align: center;}
.box-gray-list {margin-top: 4rem;}
.box-gray {display: flex; align-items: center; padding: 2.4rem 0; background-color: #f2f5f7; border-radius: 1.8rem;}
.box-gray .text-wrap {padding-left: 7.2rem;}
.box-gray .text-wrap .title {color: #333; font-weight: 500;}
.box-gray .text-wrap .text-sub {font-size: 1.4rem;}
.box-gray .icon img {display: block; width: 100%; height: 100%;}
.box-gray:nth-child(1) .text-wrap {background: url(../images/icon/group-8@3x.png) 2.7rem center no-repeat; background-size: 3.3rem 2.2rem;}
.box-gray:nth-child(2) .text-wrap {background: url(../images/icon/group-6@3x.png) 3.4rem center no-repeat; background-size: 2rem 3.2rem;}

.user-guide-wrap .box-gray + .box-gray {margin-top: 1.6rem;}
.guide-notice-wrap {margin-top: 4rem;}
.notice-wrap {border-top: 1px solid #e7e9ee;}
.notice-wrap .btn-notice {
    width: 100%; text-align: left; padding: 1.7rem 0 1.7rem 2.2rem; font-size: 1.4rem; color: #333; font-weight: 500;
    background-image: url(../images/icon/group-10@3x.png), url(../images/icon/ico-system-arrow-right-m.png); 
    background-position: 0 2rem, right center;
    background-repeat:no-repeat;
    background-size: 1.2rem 1.5rem, 1.6rem 1.6rem;    
}

.user-guide-wrap .accordion-list {border-top: 1px solid #e7e9ee;}
.user-guide-wrap .accordion-list > li {border-bottom: none;}
.user-guide-wrap .accordion-list .top .title,
.user-guide-wrap .accordion-list .top .title .tp-green {font-size: 1.6rem; font-weight: 500;}
.user-guide-wrap .accordion-list .con .con-text {margin-bottom: 0.4rem; font-size: 1.4rem; font-weight: 500;}
.user-guide-wrap .accordion-list .con .con-text-sub {font-size: 1.3rem;}
.user-guide-wrap .accordion-list .con .btn-text-arrow {margin-top: 1.6rem;}

.guide-text-wrap p + p {margin-top: 1.6rem;}

/* common */
.mt10 {margin-top: 1rem !important;}
.mt12 {margin-top: 1.2rem !important;}
.mt30 {margin-top: 3rem !important;}

/* font-size */
.font-sm {font-size: 1.3rem;}
.font-14 {font-size: 1.4rem;}
.font-normal {font-weight: 400 !important;}
.font-medium {font-weight: 500 !important;}
.font-bold {font-weight: 700 !important;}
.page-tit .text-point {font-size: 2rem; font-weight: 500; color: #009591;}

/* List */
.list-wrap {padding: 1.9rem 0;}
.list-wrap.align-c dl {align-items: center;}
.list-wrap.align-c dt {max-width: 6rem;}

/* type01 */
.list-wrap.type01 {border-bottom: 1px solid #e7e9ee;}
.list-wrap.type01 dl {width: 100%; display: flex; justify-content: space-between;}
.list-wrap.type01 dl + dl {margin-top: 1.5rem;}
.list-wrap.type01 dl > dd {color: #000; text-align: right;}
.list-wrap.type01 dl.point dt,
.list-wrap.type01 dl.point dd {color: #e53a4c;}

/* type02 */
.list-wrap.type02 {padding: 0;}
.list-wrap.type02 dl {width: 100%; display: flex; justify-content: space-between;}
.list-wrap.type02 dl + dl {margin-top: 0.8rem;}
.list-wrap.type02 dl > dt {font-size: 1.3rem; color: #757575; flex: 1;}
.list-wrap.type02 dl > dd {font-size: 1.5rem; color: #393939; text-align: right; flex: 2;}
.list-wrap.type02 .icon-bank {width: 2rem; height: 2rem;}

/* type03 */
.list-wrap.type03 {border-bottom: 1px solid #e7e9ee;}
.list-wrap.type03 .title {color: #333; font-weight: 700;}
.list-wrap.type03 .title + dl {margin-top: 1.5rem;}
.list-wrap.type03 dl {width: 100%; display: flex; justify-content: space-between; align-items: center;}
.list-wrap.type03 dl + dl {margin-top: 1.6rem;}
.list-wrap.type03 dl > dd {color: #000; text-align: right;}

.list-title {color: #000; font-weight: 500;}
.list-text-sub {margin-top: 0.8rem; font-size: 1.4rem;}
.list-text-sub + .list-wrap.type01 {margin-top: 1.6rem; border-top: 1px solid #e7e9ee;}

/* list-line-wrap */
.line-top {border-top: 1px solid #e7e9ee;}
.list-title + .list-line-wrap {margin-top: 1.6rem; border-top: 1px solid #e7e9ee;}
.list-line-wrap li {padding: 1.9rem 0; border-bottom: 1px solid #e7e9ee;}
.list-line-wrap .title {color: #333; font-weight: 500;}
.list-line-wrap .text {margin-top: 0.4rem; color: #666;}

/* type02 */
.list-line-wrap.type02 li .text {color: #333; font-weight: 500;}
.list-line-wrap.type02 li .sub-text {margin-top: 0.8rem; font-size: 1.4rem;}

/* toggle */
.tg-text .tg-btn button {font-size: 1.4rem; color: #333; padding-right: 2rem; background: url(../images/icon/ico-system-arrow-down.png) 100% 50% no-repeat; background-size: 1.6rem 1.6rem;}
.tg-text .tg-btn.tg--on button {background: url(../images/icon/ico-system-arrow-up.png) 100% 50% no-repeat; background-size: 1.6rem 1.6rem;}
.tg-text-cont {margin-top: 1rem;}

/* 주소검색 */
.result-total-text,
.result-total-text * {font-size: 1.4rem; color: #333;}
.result-total-text + .address-list {margin-top: 1.7rem;}


/* card type */
.card-box {position: relative; border-radius: 1.8rem; box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.06);}
.card-box .inbox {padding: 2.4rem;}

.card-box .radio-wrap label {padding: 2.1rem; width: 100%; height: 100%;}
.card-box .radio-wrap label::before {left: auto; right: 2.4rem;}
.card-box .radio-wrap .title {display: block; padding-left: 2.6rem; color : #333; background: url(../images/ci/ci-bank-081.png) 0 0 no-repeat; background-size: 2rem 2rem;}
.card-box .radio-wrap .account-num-wrap {margin-top: 0.5rem; padding-left: 2.6rem; }
.card-box .radio-wrap .account-num-wrap .num {font-size: 1.4rem; color : #999;}
.card-box .radio-wrap .account-num-wrap .pass-dot-wrap .pass-dot {width: 1.4rem; height: 1.4rem; background: #999;}
/*
.card-box .radio-wrap .text {display: block; margin-top: 0.5rem; padding-left: 2.6rem; font-size: 1.4rem; color : #999;}
*/

.card-box .checkbox-wrap.sm label {padding: 2.1rem 2.1rem 2.1rem 4.8rem; width: 100%; height: 100%;}
.card-box .checkbox-wrap.sm label::before {left: 2.4rem; top: 50%; margin-top: -0.9rem;}
.card-box .checkbox-wrap.sm .title {display: inline-block; padding-left: 0.6rem; color : #333;}
.card-box .checkbox-wrap.sm .icon-bank {width: 2rem; height: 2rem;}
.card-box .checkbox-wrap.sm .text {display: block; margin-top: 0.5rem; font-size: 1.4rem; color : #999;}
.card-list-wrap .checkbox-wrap input:checked + label::after {content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: 2px solid #009591; border-radius: 1.8rem 1.8rem; box-sizing: border-box;}

.card-list-wrap li {margin-top: 1.6rem;}
.card-list-wrap li:first-child {margin-top: 0;}
.card-list-wrap + .btn-center-wrap {margin-top: 2.3rem;}
.card-list-wrap .radio-wrap input:checked + label::after {content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: 2px solid #009591; border-radius: 1.8rem 1.8rem; box-sizing: border-box;}

.card-box .btn-box-arrow {padding: 2.4rem; display: block; width: 100%; background: url(../images/icon/ico-system-arrow-right-m.png) top 2.6rem right 2.4rem no-repeat; background-size: 1.6rem 1.6rem; color: #333; font-weight: 700; text-align: left;}
.card-box .btn-card-delete {width: 1.6rem; height: 1.6rem; background: url(../images/icon/ico-system-close-s.png) right 0 top 50% no-repeat; background-size: 100% auto; font-size: 0; position: absolute; top: 2.4rem; right: 2.4rem;}

.card-box-green {border-radius: 1.8rem; border: 2px solid #009591; box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.06);}
.card-box-green .inbox {padding: 2.4rem;}

/* btn */
.btn.sm.light-gray.arrow {padding-right: 2.4rem; background: #eff0f4 url(../images/icon/ico-system-arrow-right-ss.png) top 1rem right 1.1rem no-repeat; background-size: 1.2rem auto;}
.btn-more {padding-right: 1.8rem; font-size: 1.4rem; color: #333; background: url(../images/icon/ico-system-arrow-down.png) top 0.2rem right 0 no-repeat; background-size: 1.6rem 1.6rem;}
a.btn.light-gray {display: inline-block;}
.btn-text-arrow {padding-right: 1.8rem; font-size: 1.4rem; font-weight: 500; background: url(../images/icon/ico-system-arrow-right-s.png) right 0.2rem no-repeat; background-size: 1.6rem 1.6rem;}
.btn-r-wrap {text-align: right;}

/* ik */
.form-area > .form-area:first-child {margin-top: 0;}
.form-area .btn-group-flex .btn + .btn {margin-left: 0.8rem !important;} /* important 삭제*/
.input__guide-txt.input__note * {margin-top: 1.1rem; font-size: 1.3rem; color: #666;}