html {height:100%; font-size:10px; font-weight: 400; overscroll-behavior: none;}
body {width:100%; height:100%; color:#fff; font-weight: 400; font-family: 'Roboto', 'notosans', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; letter-spacing: -0.05rem;}

/* robiscan.css */
:root {
  --scan-box-width: 340px;
  --scan-box-size-ratio: 0.64;
  --scan-box-xpos-norm: 0.5;
  --scan-box-ypos-norm: 0.35;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #323232;
}
.scan-container {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.scan-view {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
  z-index: 100;
}
.scan-box-wrap {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 110;
}
.scan-box__mask--init {
  position: absolute;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
}
.scan-box__mask--ready {
  position: absolute;
  top: calc(var(--scan-box-ypos-norm) * 100%);
  left: calc(var(--scan-box-xpos-norm) * 100%);
  width: var(--scan-box-width);
  height: calc(var(--scan-box-size-ratio) * var(--scan-box-width));
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
  border-radius: 18px;
  z-index: 120;
}
.scan-box__guide--init {
  position: absolute;
  top: calc(var(--scan-box-ypos-norm) * 100%);
  left: calc(var(--scan-box-xpos-norm) * 100%);
  width: var(--scan-box-width);
  height: calc(var(--scan-box-size-ratio) * var(--scan-box-width));
  transform: translate(-50%, -50%);
  border: 5px solid rgba(255, 255, 255, 0.6);
  border-radius: 18px;
  z-index: 120;
}
.scan-box__guide--ready {
  position: absolute;
  top: calc(var(--scan-box-ypos-norm) * 100%);
  left: calc(var(--scan-box-xpos-norm) * 100%);
  width: var(--scan-box-width);
  height: calc(var(--scan-box-size-ratio) * var(--scan-box-width));
  transform: translate(-50%, -50%);
  border: 5px dashed #ffdb00;
  border-radius: 18px;
  z-index: 120;
}
.scan-box__guide--detect {
  position: absolute;
  top: calc(var(--scan-box-ypos-norm) * 100%);
  left: calc(var(--scan-box-xpos-norm) * 100%);
  width: var(--scan-box-width);
  height: calc(var(--scan-box-size-ratio) * var(--scan-box-width));
  transform: translate(-50%, -50%);
  border: 5px solid #ffdb00;
  border-radius: 18px;
  z-index: 120;
}
.scan-box__guide--complete {
  position: absolute;
  top: calc(var(--scan-box-ypos-norm) * 100%);
  left: calc(var(--scan-box-xpos-norm) * 100%);
  width: var(--scan-box-width);
  height: calc(var(--scan-box-size-ratio) * var(--scan-box-width));
  transform: translate(-50%, -50%);
  border: 5px solid #3bd970;
  border-radius: 8px;
  z-index: 120;
}
.scan-box__passport-photo {
  display: none;
  position: absolute;
  top: calc(var(--scan-box-size-ratio) * var(--scan-box-width) * 0.2 - 3px);
  left: calc(var(--scan-box-width) * 0.03 - 3px);
  width: calc(var(--scan-box-width) * 0.28);
  height: calc(var(--scan-box-size-ratio) * var(--scan-box-width) * 0.51);
  border: 2px solid #fc7000;
  border-radius: 8px;
  z-index: 130;
}
.scan-box__passport-mrz {
  display: none;
  position: absolute;
  top: calc(var(--scan-box-size-ratio) * var(--scan-box-width) * 0.785 - 3px);
  left: calc(var(--scan-box-width) * 0.03 - 6px);
  width: calc(var(--scan-box-width) * 0.98);
  height: calc(var(--scan-box-size-ratio) * var(--scan-box-width) * 0.22);
  border: 2px solid #009591;
  border-radius: 0 0 17px 17px;
  z-index: 130;
}

.scan-box__desc {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 24px; */
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
}
.scan-box__tip-wrap {
  position: absolute;
  bottom: -130px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.scan-box__tip {
  display: flex;
  margin-top: 8px;
  flex-flow: row nowrap;
  align-items: center;
}
.scan-box__tip img {
  width: 28px;
  height: auto;
  margin-right: 8px;
}
.scan-box__tip p {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;
  color: #ffffff;
}

.scan-box__loading {
  display: block;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}
.scan-box__loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffffff transparent transparent transparent;
}
.scan-box__loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.scan-box__loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.scan-box__loading div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scan-box__cancel {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  padding: 8px;
  display: inline-block;
  top: 12px;
  right: 17px;
  z-index: 3000;
}
.scan-box__cancel img {
  width: 16px;
  height: auto;
}

.scan-box__camera-auto-wrap {
  position: absolute;
  bottom: 16px;
  left: 16px;
  text-align: center;
  z-index: 120;
}

.camera-toggle__auto {
  display: block;
  width: 50px;
  height: 24px;
  padding: 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-image: url("../images/camera_auto_toggle.png");
  background-repeat: no-repeat;
  background-size: 50px 24px;
  background-color: transparent;
}

.scan-box__camera-auto-label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.scan-box__camera-auto-label p {
  margin-top: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  color: #ffffff;
}

.scan-box__capture-btn-wrap {
  display: none;
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 120;
}

.camera-btn__take {
  display: none;
  position: absolute;
  width: 64px;
  height: 64px;
  padding: 0;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-image: url("../images/camera_take_btn.png");
  background-repeat: no-repeat;
  background-size: 64px 64px;
  background-color: transparent;
  z-index: 120;
}

.result-container {
  display: none;
  max-width: 100vw;
  max-height: 100vh;
}
.result-canvas-wrap {
  min-height: 100px;
  max-width: 100vw;
  max-height: 100vh;  
  padding: 24px 24px 24px 24px;
  text-align: center;
}
.result-canvas {
  max-width: 80vw;
  max-height: 60vh;
  object-fit: cover;
}
.result-divider {
  margin: 0;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.result-box-wrap {
  height: auto;
  padding: 24px 44px 110px 44px;
}
.result-box__title {
  width: 100%;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #f0f0f0;
}
.result-box__desc {
  width: 100%;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #c6c6c6;
}
.result-btn-wrap {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 24px 32px 24px;
  z-index: 1000;
}
.result-btn__reset {
  display: inline-block;
  width: 176px;
  height: 56px;
  margin: 0 8px;
  background: #ffffff;
  border: none;
  border-radius: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #494949;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.5s;
}
.result-btn__reset:active,
.result-btn__reset:hover,
.result-btn__reset:focus {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    #ffffff;
  outline: 0;
}

.result-btn__redetect {
  display: inline-block;
  width: 176px;
  height: 56px;
  margin: 0 8px;
  background: #ff8800;
  border: none;
  border-radius: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.5s;
}
.result-btn__redetect:active,
.result-btn__redetect:hover,
.result-btn__redetect:focus {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    #ff8800;
  outline: 0;
}

.result-btn__reset {
  display: inline-block;
  width: 176px;
  height: 56px;
  margin: 0 8px;
  background: #ffffff;
  border: none;
  border-radius: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #494949;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.5s;
}

.toast-wrap {
  display: table;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5%;
  z-index: 9999;
}
.toast-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #b0d197;
  opacity: 0.5;
  z-index: -1;
  border-radius: 10px;
}
.toast {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.2em;
}

/* 추가 */
.scan-box__info-wrap {width: 100%; position: absolute; bottom: unset; left: 0; top: 6rem; z-index: 130;}
.scan-box-wrap__passport .scan-box__info-wrap {top: 8rem;}
.scan-box__info-wrap .scan-box__desc {}
.scan-box__info-wrap .scan-box__tit {position: unset; font-size: 2rem; font-weight: 500;}
.scan-box__info-wrap .scan-box__txt {position: unset; font-size: 1.6rem; margin-top: 1rem; line-height: 1.3; font-weight: 400;}
.scan-box-wrap__passport .scan-box__tip-wrap {width: 100%; bottom: -48px;}
.scan-box-wrap__passport .scan-box__tip-wrap .scan-box__tip {width: 100%; height: 2.6rem; bottom: 0; margin-top: 0; display: inline-block; font-weight: 400; background: none;}
.scan-box-wrap__passport .scan-box__tip-wrap .scan-box__tip p {line-height: 1.29; font-size: 14px; color: #fff; font-weight: 400;}

.scan-box__tip-wrap {width: 100%; bottom: 0;}
.scan-box__tip-wrap .scan-box__tip {width: 100%; height: 2.6rem; bottom: 0; margin-top: 0; display: inline-block; font-weight: 400; border-radius: 0 0 18px 18px; background: rgba(0, 0, 0, 0.55);}
.scan-box__tip-wrap .scan-box__tip p {line-height: 2.4rem; font-size: 12px; color: #fff; font-weight: 400;}

.scan-box__guide--init,
.scan-box__guide--ready,
.scan-box__guide--detect,
.scan-box__guide--complete,
.scan-box__mask--init,
.scan-box__mask--ready{margin-top: 4rem; border: 0; border-radius: 18px;}
.scan-box__passport-photo,
.scan-box__passport-mrz{margin-top: 0; }
.scan-box__guide--init::after,
.scan-box__guide--ready::after,
.scan-box__guide--detect::after,
.scan-box__guide--complete::after {
  content: '';
  width: 100%; height: 100%; display: block;
  position: absolute; top: 0; left: 0; z-index: 130;
  background-image: url(../images/png/scan_bg1.png), url(../images/png/scan_bg2.png), url(../images/png/scan_bg3.png), url(../images/png/scan_bg4.png);
  background-position: top 3px left  3px, top  3px right  3px, bottom  3px left  3px, bottom  3px right  3px;
  background-size: 28px auto;
  background-repeat: no-repeat;
}


.video-info-wrap {width: 100%; height: 20rem; padding: 2.4rem 0 4.2rem; flex: 1; text-align: center; position: absolute; bottom: -200px; }
.scan-box-wrap__passport .video-info-wrap {bottom: -230px; padding-top: 1.6rem;}
.video-info-wrap .txt {font-size: 1.4rem; font-weight: 400; color: #fff; line-height: 1.3;}
.video-info-wrap .tp-green {color: #009591; font-size: 1.4rem;}
.video-info-wrap .btn-center-wrap {margin-top: 1.6rem;}
.video-info-wrap .btn.sm.light-gray.arrow {width: auto; height: 3rem; padding: 0 2.4rem 0 1.1rem; line-height: 3rem; color: #666; border-radius: 1.1rem 1.1rem; font-size: 1.4rem; font-weight: 500; background: #eff0f4 url(../images/icon/ico-system-arrow-right-ss.png) top 1rem right 1.1rem no-repeat; background-size: 1.2rem auto;}
.video-info-link {width: 100%; position: absolute; bottom: 8rem; left:0; z-index: 205; text-align: center;}
.video-info-link .txt_underline {font-size: 1.3rem; color: #fff; text-decoration: underline;}

@media (max-height: 666px) {
  .scan-box__info-wrap {top: 4rem;}
  .video-info-link {bottom: 4rem;}
  .scan-box__info-wrap .scan-box__tit {font-size: 1.8rem;}
}

/* 버튼 */
.btn {padding: 0 1.4rem; width: 100%; height: 5rem; line-height: 5rem; font-size: 1.6rem; color: #fff; font-weight: 500; text-align: center; background-color: #009591; border-radius: 1rem;}
/* - 컨텐츠 : 버튼 정렬 */
.btn-flex-column {display: flex; align-items: center; justify-content: center; flex-direction: column;}
.btn-flex-column .btn + .btn {margin-top: 0.8rem;}

.btn-group-flex {display: flex;}
.btn-group-flex .btn {flex:1;}
.btn-group-flex .btn + .btn {margin-left: 0.8rem;}

.btn-wrap,
.btn-group-wrap {display: flex;}
.btn-wrap .btn,
.btn-group-wrap .btn {flex: 1; width: 100%;}
.btn-wrap .btn + .btn,
.btn-group-wrap .btn + .btn {margin-left: 1.1rem;}
.btn-group-wrap .btn.btn-cancle {width: auto; min-width: 9.5rem; flex: inherit;}
.btn-group-wrap .btn.btn-icon {width: 6.8rem; flex: inherit; font-size: 0;}

.popup-wrap.modal--slide .btn-wrap .btn.btn-cancle {width: auto; min-width: 9.5rem; flex: inherit;}
.popup-wrap.alert .btn-group-wrap .btn.btn-cancle {width: auto; min-width: 8.3rem; flex: inherit;}

.btn-center-wrap {text-align: center;}

/* 도트형 */
.dot-list > li {padding-left: 0.8rem; position: relative; color: #757575; line-height: 1.4; font-size: 1.6rem; word-break: keep-all; word-wrap: break-word;}
.dot-list > li::before {content: ''; width: 0.3rem; height: 0.3rem; display: inline-block; position: absolute; top: 0.9rem; left: 0; background: #6e6e7a; border-radius: 50%;}
.dot-list > li + li {margin-top: 0.4rem;}
.dot-list > li.star {padding-left: 1rem;}
.dot-list > li.star::before {content: '*'; background: none; top: 0;}

.dot-list2 > li {padding-left: 0.8rem; position: relative; color: #333; line-height: 1.4; font-size: 1.6rem; word-break: keep-all; word-wrap: break-word;}
.dot-list2 > li::before {content: ''; width: 0.3rem; height: 0.3rem; display: inline-block; position: absolute; top: 0.9rem; left: 0; background: #6e6e7a; border-radius: 50%;}
.dot-list2 > li + li {margin-top: 1.6rem;}

.dot-list3 > li {padding-left: 0.8rem; position: relative; color: #666; line-height: 1.3; font-size: 1.4rem; word-break: keep-all; word-wrap: break-word;}
.dot-list3 > li::before {content: ''; width: 0.3rem; height: 0.3rem; display: inline-block; position: absolute; top: 0.9rem; left: 0; background: #6e6e7a; border-radius: 50%;}
.dot-list3 > li + li {margin-top: 1rem;}

.address-dot-list > li {padding-left: 0.8rem; position: relative; color: #333; line-height: 1.3; font-size: 1.6rem; word-break: keep-all; word-wrap: break-word;}
.address-dot-list > li::before {content: ''; width: 0.3rem; height: 0.3rem; display: inline-block; position: absolute; top: 0.9rem; left: 0; background: #6e6e7a; border-radius: 50%;}
.address-dot-list .sub-txt {font-size: 1.4rem; color: #757575; line-height: 1.5; display: block;}

.dot-list.type02 > li + li {margin-top: 0.9rem;}
.dot-list.type03 > li + li {margin-top: 2.1rem;}

/* 레이아웃 */
body.scan-body {overflow: hidden;}

/* --- 모달 팝업 (modal) --- */

/* - 모달 팝업 : 공통 */
body.modal-open {height: 100vh; position: fixed; overflow: hidden; -webkit-overflow-scrolling: auto; }
/* body.modal-open .app-footer {position: relative;} */
.modal { display: none; position: absolute; z-index: -1; color: #666;}
.modal .container { margin-top: 0; }
.modal .container + .container { margin-top: 0.875rem; }
.modal.is-open { display: block; position: absolute; top: 0; left: 0; z-index: 200; }
.modal__container { position: absolute; background: #fff; }
.modal__contents { -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out; position: relative; }
.modal-scroll {max-height: 44.7rem; overflow-y: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch;}

.popup-wrap { position: absolute; width: 100%; height: 100%; padding-top: 0.1rem; padding-top: calc(0.1rem + constant(safe-area-inset-top)); padding-top: calc(0.1rem + env(safe-area-inset-top)); color: #666;}
.popup-wrap:before { content: ''; display: none; width: 100%; height: 100%; background: #000; opacity: .5; }
.popup-wrap.is-open:before {display: block;}

/* - 모달 팝업 : 얼럿 (alert) */
.popup-wrap.alert {top: 0; left: 0;}
.popup-wrap.alert .modal__container {padding: 0 2.4rem 2.4rem; padding-bottom: calc(2.4rem + constant(safe-area-inset-bottom)); padding-bottom: calc(2.4rem + env(safe-area-inset-bottom)); top: 50%; right: 1.6rem; left: 1.6rem; -webkit-transform: translateY(-50%); transform: translateY(-50%); border-radius: 1.4rem;}
.popup-wrap.alert .modal__contents {padding: 3rem 0;}
.popup-wrap.alert .con-title {margin-bottom: 1.6rem; font-size: 1.8rem; color: #000; text-align: center; font-weight: 500;}
.popup-wrap.alert .text-sub {text-align: center; line-height: 1.3; word-break: keep-all; word-wrap: break-word;}
.popup-wrap.alert .text-sub > * {word-break: keep-all; word-wrap: break-word;}
.popup-wrap.alert .text-sub p {color: #666; letter-spacing: -0.05rem; line-height: 1.3; font-size: 1.6rem;}
.popup-wrap.alert .con-title + .text-sub {margin-top: 1.6rem;}
.popup-wrap.alert.only-title .modal__contents {padding-top: 2.7rem;}
.popup-wrap.alert .modal__header .title {padding: 2.7rem 4rem 1.4rem; font-size: 1.8rem; color: #000; text-align: center; font-weight: 500; word-break: keep-all; word-wrap: break-word;}
.popup-wrap.alert .modal__header + .modal__contents {padding: 1.3rem 0 3rem; padding: 1.3rem 0 calc(3rem + constant(safe-area-inset-bottom)); padding: 1.3rem 0 calc(3rem + env(safe-area-inset-bottom));}
.popup-wrap.alert .modal__btn--close {top: 2.4rem;}

/* - 모달 팝업 : 슬라이드 팝업 (slide) */
.popup-wrap.modal--slide {width: 100%; height: 100%;}
.popup-wrap.modal--slide.is-open .modal__container {bottom: 0; animation-name: slidePopup; animation-duration: 0.3s; animation-delay: 0.1s; animation-iteration-count: 1; animation-fill-mode: forwards;} 
@keyframes slidePopup {
    0% {
        
    }
    100%{
        bottom: 0;
    }
}
@-webkit-keyframes slidePopup {
  0% {
    
  }
  100%{
    bottom: 0;
  }
}
.popup-wrap.modal--slide .modal__container {right: 0; left: 0; border-radius: 2.4rem 2.4rem 0 0; padding-bottom: 0.1rem; padding-bottom: calc(0.1rem + constant(safe-area-inset-bottom)); padding-bottom: calc(0.1rem + env(safe-area-inset-bottom));}
.popup-wrap.modal--slide .modal__contents {max-height: calc(100vh - 12rem); padding: 0 2.4rem; padding-bottom: 9.2rem; padding-bottom: calc(9.2rem + constant(safe-area-inset-bottom)); padding-bottom: calc(9.2rem + env(safe-area-inset-bottom)); overflow-y: auto; overflow-x: hidden;}
.popup-wrap.modal--slide .modal__contents.btn-none {padding-bottom: 0.1rem; padding-bottom: calc(0.1rem + constant(safe-area-inset-bottom)); padding-bottom: calc(0.1rem + env(safe-area-inset-bottom));}
.popup-wrap.modal--slide .modal__contents.modal__contents--tabscroll {min-height: 0; max-height: none; overflow: visible;}
.popup-wrap.modal--slide .modal__contents.modal__contents--tabscroll .tab-list-wrap .tab-con {max-height: calc(60vh - 4.8rem); overflow-x: hidden; overflow-y: auto;}
.modal__contents--tabscroll .tab-list-wrap .tab-con {padding: 1.6rem 2rem;}
.modal__contents--tabscroll .tab-list-wrap .tab-con .pop-tab-wrap {position: relative; padding-bottom: 1.6rem;}
.modal__contents--tabscroll .tab-list-wrap .tab-con .pop-tab-wrap.is-btn {padding-bottom: 8.8rem;}
.modal__contents--tabscroll .tab-list-wrap .tab-con .pop-tab-btn {width: 100%; height: 8.8rem; padding: 1.6rem 2rem; padding-bottom: 1.6rem; padding-bottom: calc(1.6rem + constant(safe-area-inset-bottom)); padding-bottom: calc(1.6rem + env(safe-area-inset-bottom)); position: fixed; bottom: 0; bottom: calc(0rem + constant(safe-area-inset-bottom)); bottom: calc(0rem + env(safe-area-inset-bottom)); left: 0; z-index: 2;}
.popup-wrap.modal--slide .text-sub p {color: #333; letter-spacing: -0.05rem; line-height: 1.3; font-size: 1.6rem;}

.modal__btn--close {position: absolute; left: 1.9rem; top: 1.6rem; z-index: 2; width: 2.7rem; height: 2.7rem; border: 0; background: 0;}
.modal__btn--close:before { content: ''; display: block; width: 2.7rem; height: 2.7rem; background: url(../images/icon/ico-system-close.png) 50% 50% no-repeat; background-size: 100% auto; }
.popup-wrap.modal--slide .modal__header .title {height: 5.8rem; padding: 1.7rem 4.6rem 1.7rem; font-size: 1.8rem; color: #000; font-weight: 500; text-align: center; border-bottom: 0.1rem solid #e5e5e5;}
.popup-wrap.modal--slide .modal__header .title.no-line {border-bottom: 0;}
.popup-wrap.modal--slide .btn-wrap { position: absolute; bottom: 0; width: 100%; z-index: 10; padding: 1.8rem 2.4rem 2.4rem; padding-bottom: calc(2.4rem + constant(safe-area-inset-bottom)); padding-bottom:calc(2.4rem + env(safe-area-inset-bottom)); background-color: #fff;}
.popup-wrap.modal--slide .btn-wrap .btn {width: auto;}
.popup-wrap.modal--slide.modal-full .modal__contents {height: calc(100vh - 12rem); height: 100vh;}
.popup-wrap.modal--slide.modal-full .btn-wrap {background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 20%);}
.popup-wrap.modal--slide .tab-list-wrap .tab-list {padding: 0 2rem;}
.popup-wrap.modal--slide .btn-none .modal-select-list {padding-bottom: 1.8rem;}
.popup-wrap.modal--slide .modal-select-list > li {border-bottom: 0.1rem solid #e7e9ee;}
.popup-wrap.modal--slide .modal-select-list > li .link {padding: 1.8rem 0; font-size: 1.6rem; color: #666; display: block;}
.popup-wrap.modal--slide.modal-full .modal__contents--tabscroll .pualugin-tab__panel {height: calc(100% - 4.7rem); margin: 0 -2.4rem;}
.popup-wrap.modal--slide.modal-full .modal__contents--tabscroll div[data-element="tab"] {height: 100%;}
.popup-wrap.modal--slide.modal-full .modal__contents--tabscroll.btn-none .pualugin-tab__panel {height: calc(100% - 4.7rem); margin: 0 -2.4rem;}
.popup-wrap.modal--slide.modal-full .modal__contents--tabscroll .pualugin-tab__panel .search-area {width: 100%;}

.popup-wrap.modal--slide.modal-full-page .modal__container {height: 100%; border-radius: 0;}
.popup-wrap.modal--slide.modal-full-page .modal__contents {max-height: calc(100% - 6rem);}

/* - 모달 팝업 : 컨텐츠 레이아웃 공통 */
.modal__contents .tab-box-wrap .tab-con {padding-top: 2.4rem;}

/* - 모달 팝업 : 텍스트 스타일 */
.modal-text-wrap {padding-top: 3rem;}
.modal-text-wrap .text-bold {margin-bottom: 2rem; font-size: 1.6rem; font-weight: 500; color: #000; word-break: keep-all; word-wrap: break-word;}
.modal-text-wrap .text-center {margin-bottom: 2rem; font-size: 1.6rem; font-weight: 400; color: #333; word-break: keep-all; word-wrap: break-word; text-align: center;}
